<ion-list [formGroup]="myForm">
	<ion-list-header>
		<ion-label>{{title}} <star *ngIf="required"></star></ion-label>
	</ion-list-header>
	<ion-item lines="none">
		<mat-form-field appearance="fill">
			<textarea (keyup)="countChar($event.target.value)"
					  (keydown)="outputMyForm({'myForm': myForm, 'controlName': controlname})"
					  formControlName="{{controlname}}"
					  placeholder="{{placeholder}}"
					  matInput
					  minlength="{{minLength}}"
					  maxlength="{{maxLength}}"
					  rows="{{rows}}"
					  readonly="{{readonly}}">
			</textarea>
			<ion-note color="{{charCounter > 0 ? 'success' : 'danger' }}" class="ion-float-end ion-margin-top">
				{{charCounter}} Zeichen
			</ion-note>
		</mat-form-field>
	</ion-item>
</ion-list>
