<mat-form-field [formGroup]="myForm">
	<mat-label>{{label}}</mat-label>
	<input formControlName="{{controlname}}" matInput placeholder="Enter your email" required>
	<i class="material-icons" matSuffix>{{icon}}</i>
</mat-form-field>
