<comp-header [title]="{klein: 'Auswertung', gross: (apothekenName || mitarbeitername)}"
			 [showHomeIcon]="true"
			 [showBackButton]="true"
			 [themeColor]="themeColor">
</comp-header>

<ion-content>
	<ng-container *ngIf="ergebnis.length > 0">
		<comp-card (click)="goToAuswertungPage('Allgemeine Auswertung')"
				   [title]="'Allgemeine Auswertung'"
				   [subTitle]="'Durchgeführte Tests'"
				   [amount]="getGesamtZahlTests()"
				   [themeColor]="themeColor">
		</comp-card>
		<comp-hr [themeColor]="themeColor"></comp-hr>
		<comp-card *ngFor="let auftrag of ergebnis"
				   (click)="goToAuswertungPage(auftrag[0])"
				   [title]="getKrankheitsName(auftrag[0])"
				   [amount]="auftrag.length"
				   [subTitle]="'Durchgeführte Tests'"
				   [themeColor]="themeColor">
		</comp-card>
	</ng-container>
	<comp-icon-big *ngIf="ergebnis.length === 0"
				   [iconName]="'alert'"
				   [showText]="'Kein Test vorhanden'">
	</comp-icon-big>
</ion-content>
