.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 150px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    background: var(--ion-color-primary);
    color: white;
    box-shadow: 2px 2px 2px grey;
    border-radius: 5px;

  }

  div:nth-child(1), div:nth-child(2)  {
    background: var(--ion-color-secondary);
  }
}
