<comp-header [title]="{gross: 'Backoffice'}"></comp-header>

<ion-content>
	<div class="grid-container">
		<div [routerLink]="[ROUTES.backofficeApothekerAnlegen]">
			<span>Apotheker anlegen</span>
		</div>
		<div [routerLink]="[ROUTES.backofficeApothekeAnlegen]">
			<span>Apotheke anlegen</span>
		</div>
		<div [routerLink]="[ROUTES.backofficeApotheker]">
			<span>Apotheker</span>
		</div>
		<div [routerLink]="[ROUTES.backofficeTester]">
			<span>Tester</span>
		</div>
		<div [routerLink]="[ROUTES.backofficeAuftragsschablonen]">
			<span>Auftrags Schablonen</span>
		</div>
	</div>
</ion-content>
