<div *ngFor="let item of ergebnis; let i = index;" class="ion-margin-bottom ion-padding">
	<!--		<div>Frage {{i + 1}}</div>-->

	<div [ngClass]="'dn-bordercolor-' + themeColor"
		 class="padding-10 font-weight-5 margin-top-10 border-head font-size-0-8">
		{{i + 1}}. {{item.title}}
	</div>

	<div *ngIf="['input_alter'].includes(item.typ)">
		<div [ngClass]="'dn-bordercolor-' + themeColor"
			 class="padding-10 border-under">
			{{alter}}
		</div>
	</div>

<!--	<div *ngIf="['input_kosten'].includes(item.typ)">-->
<!--		<div class="padding-10 border-under">{{kosten}}</div>-->
<!--	</div>-->

	<div *ngIf="['select_mitarbeiter'].includes(item.typ)">
		<div [ngClass]="'dn-bordercolor-' + themeColor"
			 class="padding-10 border-under">
			{{mitarbeiter}}
		</div>
	</div>

	<div *ngIf="['radio_geschlecht'].includes(item.typ)"
		 [ngClass]="'dn-bordercolor-' + themeColor"
		   class="border-under">
		<div>
			<p [ngClass]="'dn-bordercolor-' + themeColor">Weiblich</p>
			<p [ngClass]="'dn-bordercolor-' + themeColor">{{getCountJaNein(item.resultat, item.typ, 'w').true || 0}}</p>
		</div>
		<div>
			<p [ngClass]="'dn-bordercolor-' + themeColor">Männlich</p>
			<p [ngClass]="'dn-bordercolor-' + themeColor">{{getCountJaNein(item.resultat, item.typ, 'm').true || 0}}</p>
		</div>
	</div>

	<div *ngIf="['radio_apotheke'].includes(item.typ)"
		 [ngClass]="'dn-bordercolor-' + themeColor"
		 class="border-under">
		<div *ngFor="let item of apotheke">
			<p [ngClass]="'dn-bordercolor-' + themeColor">{{item.value}}</p>
			<p [ngClass]="'dn-bordercolor-' + themeColor">{{item.total}}</p>
		</div>
	</div>

	<div *ngIf="['radio_giveaway','radio_weiterearzneimittel', 'radio_treuestempel', 'radio_namensschild',
					'radio_zeitung', 'radio_tuete', 'radio_arbeitskleidung', 'radio_kaufentscheidung'].includes(item.typ)"
		   [ngClass]="'dn-bordercolor-' + themeColor"
		   class="border-under">
		<div>
			<p [ngClass]="'dn-bordercolor-' + themeColor">Ja:</p>
			<p [ngClass]="'dn-bordercolor-' + themeColor">{{getCountJaNein(item.resultat, item.typ, 'ja').true || 0}}</p>
		</div>
		<div>
			<p [ngClass]="'dn-bordercolor-' + themeColor">Nein:</p>
			<p [ngClass]="'dn-bordercolor-' + themeColor">{{getCountJaNein(item.resultat, item.typ, 'nein').true || 0}}</p>
		</div>
	</div>

	<div *ngIf="['skala_freundlichkeit'].includes(item.typ)"
		   [ngClass]="'dn-bordercolor-' + themeColor"
		   class="border-under">
		<div *ngFor="let item of skalaFreundlichkeit">
			<p [ngClass]="'dn-bordercolor-' + themeColor">{{item.value}}:</p>
			<p [ngClass]="'dn-bordercolor-' + themeColor">{{item.total}}</p>
		</div>
	</div>

	<div *ngIf="['skala_beratung'].includes(item.typ)"
		 [ngClass]="'dn-bordercolor-' + themeColor"
		 class="border-under">
		<div *ngFor="let item of skalaBeratung">
			<p [ngClass]="'dn-bordercolor-' + themeColor">{{item.value}}:</p>
			<p [ngClass]="'dn-bordercolor-' + themeColor">{{item.total}}</p>
		</div>
	</div>

	<div *ngIf="['checkbox_produktempfehlung'].includes(item.typ)"
		 [ngClass]="'dn-bordercolor-' + themeColor"
		 class="border-under">
		<div *ngFor="let item of produktnamen">
			<p [ngClass]="'dn-bordercolor-' + themeColor">{{item.value}}:</p>
			<p [ngClass]="'dn-bordercolor-' + themeColor">{{item.total}}</p>
		</div>
	</div>

	<div *ngIf="['textarea_feedback', 'textarea_produktnichtempfohlen'].includes(item.typ)">
		<div [ngClass]="'dn-bordercolor-' + themeColor"
			 class="ion-text-center padding-10 border-under">
				<ion-button (click)="openModal(item)" size="default"
							[color]="themeColor"
							[ngClass]="'dn-bgcolor-' + themeColor">
					Alle Feedbacks
				</ion-button>
		</div>
	</div>

<!--	<ion-item *ngIf="['photo_immobilie','photo_rechnung'].includes(item.typ)" lines="none" class="border-3 padding-10">-->
<!--		<ion-slides [options]="slideOpts">-->
<!--			<ng-container *ngFor="let bild of (item.typ === 'photo_immobilie') ? photosImmobilien : photosRechnung ; let i = index;">-->
<!--				<ion-slide>-->
<!--					<image-zoom-component *ngIf="bild.base64"-->
<!--										  [imgUrl]="bild.base64"-->
<!--										  [firma]=""-->
<!--										  [email]=""-->
<!--										  [cssClasses]="'imageViewer'">-->
<!--					</image-zoom-component>-->
<!--				</ion-slide>-->
<!--			</ng-container>-->
<!--		</ion-slides>-->
<!--	</ion-item>-->

<!--	<ion-item *ngIf="['photo_rechnung'].includes(item.typ)" lines="none" class="border-3">-->
<!--		<ion-slides [options]="slideOpts">-->
<!--			<ng-container *ngFor="let bild of allePhotos; let i = index;">-->
<!--				<ion-slide>-->
<!--					<image-zoom-component *ngIf="bild.base64"-->
<!--										  [imgUrl]="bild.base64"-->
<!--										  [firma]=""-->
<!--										  [email]=""-->
<!--										  [cssClasses]="'imageViewer'">-->
<!--					</image-zoom-component>-->
<!--				</ion-slide>-->
<!--			</ng-container>-->
<!--		</ion-slides>-->
<!--	</ion-item>-->
</div>
<comp-icon-big *ngIf="ergebnis.length === 0"
			   [iconName]="'create'"
			   [showText]="'Keine Zusammenfassung vorhanden'">
</comp-icon-big>
