table {
  width: 100%;
  border-collapse: collapse;
}

td {
  width: 50%;
  border: 1px solid var(--ion-color-dark);
  padding: 10px;
  text-align: left;
}

tr:nth-child(even) {
  //background-color: #f2f2f2;
}

.border-under {
  > div {
    display: flex;

    p {
      width: 50%;
      padding: 5px 5px 5px 8px;
      margin: 0;
    }
  }

  div:not(:last-child) p:first-child {
    border-right: 1px solid;
    border-bottom: 1px solid;
  }
  div:last-child p:first-child {
    border-right: 1px solid;
  }
  div:not(:last-child) p:last-child {
    border-bottom: 1px solid;
  }
}
