<comp-header [title]="{gross: title}"
			 [showHomeIcon]="true"
			 [showMenuBurger]="true"
			 [themeColor]="'orange'">
</comp-header>

<ion-content>
	<comp-card *ngFor="let item of krankheiten"
			   (click)="goToAuftraegePage(item)"
			   [title]="item.title"
			   [subTitle]="'Durchgeführte Tests'"
			   [amount]="item.anzahlAbsolviert"
			   [isDeactive]="item.anzahlAbsolviert === 0"
			   [themeColor]="'orange'">
	</comp-card>
</ion-content>
