<comp-header [title]="{gross: 'Alle Apotheker'}"
			 [showBackButton]="true">
</comp-header>

<ion-content>
	<ion-list>
		<ion-item *ngFor="let item of alleApotheker" (click)="goToApotheker(item)">
			<ion-label *ngIf="item.data.nachname && item.data.vorname else elseBlock">
				{{item.data.nachname}}, {{item.data.vorname}}
			</ion-label>
			<ng-template #elseBlock>
				<ion-label>{{item.data.email}}</ion-label>
			</ng-template>
		</ion-item>
	</ion-list>
</ion-content>
