<ion-card  [class.deactive]="isDeactive"
		   [class.opacity]="kontingentErschoepft"
		   class="ion-activatable ripple-parent ion-margin-top ion-padding ion-no-margin">
	<ion-ripple-effect></ion-ripple-effect>
	<div class="d-flex-between">
		<div class="dn-color-danger" style="width: 75%;">
			<ion-card-title dn-ellipsis [class.umsatz]="umsatz">{{title}}</ion-card-title>
			<ion-card-subtitle *ngIf="subTitle"
							   [innerHTML]="subTitle"
							   class="subtext dn-ellipsis-5">
			</ion-card-subtitle>
		</div>

		<div class="d-flex-column-center ion-align-items-end">
			<ion-badge *ngIf="genehmigungsStatus"
					   [ngClass]="genehmigungsStatus === 'erledigt' ? 'dn-bgcolor-grey' : ''"
					   class="subtext margin-bottom-5">
				{{(genehmigungsStatus === 'inpruefung') ? 'In Prüfung' :  genehmigungsStatus }}
			</ion-badge>

			<ion-badge *ngIf="genehmigungsStatus === 'abgelehnt'"
					   class="subtext margin-bottom-5">Begründung >
			</ion-badge>

			<ion-badge *ngIf="amount || amount === 0"
					   [ngClass]="themeColor ? 'dn-bgcolor-' + themeColor : ''"
						class="subtext badge-width">{{amount}}
				<span *ngIf="prozentZeichen"> %</span>
			</ion-badge>

			<ion-badge *ngIf="prozent || prozent == 0" class="d-flex-center badge-width">
				{{prozent}}
				<span *ngIf="prozentZeichen">&nbsp; %</span>
			</ion-badge>
		</div>
	</div>
</ion-card>
