ion-card {
  border-radius: 8px;

  &.deactive {
    --background: var(--ion-color-medium);
  }

  //ion-card-title, ion-card-subtitle, div {
  //  color: var(--ion-color-primary);
  //}

  .badge-width {
    min-width: 40px;
  }

  ion-card-subtitle {
    margin-top: 5px;
    font-weight: normal;
  }

  .icon {
    width: 30px;
    height: 30px;

    ion-icon {
      position: absolute;
      font-size: 20px;
    }
  }
}

.opacity {
  opacity: 0.5;
}

.umsatz {
  font-size: 2rem;
  text-align: center;
}

.prozent {
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: var(--ion-color-secondary) !important;
  position: absolute;
  right: 10px;
  margin-top: -18px;
}
