<comp-header [title]="{gross: 'Auftragsschablonen'}"
			 [showBackButton]="true">
</comp-header>

<ion-content>
	<ion-card *ngFor="let item of krankheiten; let i = index"
			  (click)="goToDetails(item)">
		<ion-card-header>
			<ion-card-title>{{i+1}}) {{item.title}}</ion-card-title>
			<ion-card-subtitle>{{item.id}} - {{item.docId}}</ion-card-subtitle>
		</ion-card-header>

		<ion-card-content>{{item.subtitle}}</ion-card-content>
	</ion-card>
</ion-content>
