<ion-header>
	<ion-toolbar [ngClass]="themeColor ? 'ion-toolbar-' + themeColor : ''">
		<ion-buttons slot="start">
			<ion-menu-button *ngIf="showMenuBurger"></ion-menu-button>
			<ion-button *ngIf="showBackButton" (click)="back()">
				<ion-icon name="arrow-back-outline"></ion-icon>
			</ion-button>
		</ion-buttons>

		<ion-title *ngIf="title" class="ion-padding-start">
			<h6 *ngIf="title.klein">{{title.klein}}</h6>
			<h5 *ngIf="title.gross">{{title.gross}}</h5>
		</ion-title>

		<ion-buttons slot="end">
			<ion-button *ngIf="anleitungsText" (click)="openModal()">
				<ion-icon name="help" slot="icon-only"></ion-icon>
			</ion-button>
			<ion-button *ngIf="showForwardButton" (click)="forward()">
				<ion-icon name="arrow-forward-outline"></ion-icon>
			</ion-button>
			<ion-button *ngIf="showPrintButton" (click)="print()">
				<ion-icon name="print-outline"></ion-icon>
			</ion-button>
			<ion-button *ngIf="showHomeIcon" (click)="goToPage()">
				<ion-icon name="home-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
