<comp-header [title]="{gross: title}"
			 [showBackButton]="true">
</comp-header>

<ion-content>
	<comp-card *ngFor="let item of aktiveTests"
			   (click)="goToAuftraegePage(item)"
			   [amount]="item.anzahlOffenerTest"
			   [title]="item.title"
			   [subTitle]="'Durchgeführte Tests: ' + item.anzahlAbsolviert">
	</comp-card>

	<comp-card *ngFor="let item of inaktiveTests"
			   (click)="goToAuftraegePage(item)"
			   [amount]="item.anzahlOffenerTest"
			   [title]="item.title"
			   [subTitle]="'Durchgeführte Testaufträge ' + item.anzahlAbsolviert"
			   [isDeactive]="true">
	</comp-card>
</ion-content>
