.line, .line-small {
  border: 1px solid lightgrey;
}
.dotted {
  border: 1px dashed lightgrey;
}

.line-small {
  margin: 10px 0;
}
.dotted, .line {
  margin: 25px 0
}

.meta span {
  font-weight: bold;
}

.gesamtsumme {
  margin-bottom: 100px;
}
