<comp-header [title]="{gross: GLOBAL.MenuPages[id].title}"
             [showHomeIcon]="true"
             [showBackButton]="true">
</comp-header>

<ion-content>
	<div [innerHTML]="GLOBAL.MenuPages[id].content"></div>
</ion-content>
