ion-content {
  --background:
      linear-gradient(rgba(33,100,197,0.6), rgba(10,62,137,1)),
      url("/assets/login_apotheker_img.jpg")
      no-repeat 10% -40px / cover;
  --ion-color-base: transparent !important;
}
.wrapper {
  height: 100%;
}
.form, .wrapper {
  display: flex;
  flex-direction: column;
}
.logo {
  margin: 150px 0 50px 0;
  width: 50%;
  height: auto;
}
.bottom {
  width: 100%;
  align-self: flex-end;
  margin-top: auto;
  text-align: center;
}
