<ion-content color="primary" fullscreen="true">
	<div class="wrapper">
		<div class="d-flex-center">
			<img src="/assets/logo.png" class="logo">
		</div>

	<!--  L O G I N -->
		<div *ngIf="showLogin" class="form">
			<form [formGroup]="myForm" (ngSubmit)="onSubmitSignIn(myForm)">
				<ion-item>
					<ion-input formControlName="email"
							   placeholder="Email">
					</ion-input>
				</ion-item>
				<ion-item class="ion-margin-top ion-margin-bottom">
					<ion-input formControlName="password"
							   type="password"
							   placeholder="Password">
					</ion-input>
				</ion-item>
				<comp-formbutton [myForm]="myForm"
								 [color]="'secondary'"
								 [buttonText]="'Anmelden'">
				</comp-formbutton>
			</form>
			<mat-error *ngIf="errorMessageSignIn" class="ion-margin-top ion-text-center">{{errorMessageSignIn}}</mat-error>
			<div class="d-flex-between ion-margin-top">
				<div (click)="visibilityFormular('VERGESSEN')" class="subtext">Passwort zurücksetzen</div>
				<div (click)="visibilityFormular('REGISTRATION')" class="subtext">Neu registrieren</div>
			</div>
		</div>

	<!--  R E G I S T R A T I O N -->
		<div *ngIf="showRegistration" class="example-container">
			<form [formGroup]="myForm2" (ngSubmit)="onSubmitSignUp(myForm2)">
				<ion-item>
					<ion-input formControlName="email"
							   placeholder="Email">
					</ion-input>
				</ion-item>
				<ion-item class="ion-margin-top ion-margin-bottom">
					<ion-input formControlName="password"
							   type="password"
							   placeholder="Password">
					</ion-input>
				</ion-item>
				<ion-item class="ion-margin-top ion-margin-bottom">
					<ion-input formControlName="password2"
							   type="password"
							   placeholder="Password">
					</ion-input>
				</ion-item>
				<div>{{errorMessageSignUp}}</div>
				<comp-formbutton [myForm]="myForm2"
								 [color]="'secondary'"
								 [buttonText]="'Registrieren'">
				</comp-formbutton>
			</form>
			<div class="d-flex-between ion-margin-top">
				<div (click)="visibilityFormular('VERGESSEN')" class="subtext">Passwort zurücksetzen</div>
				<div (click)="visibilityFormular('LOGIN')" class="subtext">Einloggen</div>
			</div>
		</div>

	<!--  P A S S W O R T  V E R G E S S E N -->
		<div *ngIf="showPasswortVergessen" class="example-container">
			<form [formGroup]="myForm3" (ngSubmit)="onSubmitResetPassword(myForm3)">
				<ion-item class="ion-margin-top ion-margin-bottom">
					<ion-input formControlName="email" placeholder="Email"></ion-input>
				</ion-item>
				<comp-formbutton [myForm]="myForm3" [buttonText]="'Passwort zurücksetzen'"></comp-formbutton>
			</form>
			<div class="d-flex-between ion-margin-top">
				<div (click)="visibilityFormular('LOGIN')" class="subtext">Einloggen</div>
				<div (click)="visibilityFormular('REGISTRATION')" class="subtext">Neu registrieren</div>
			</div>
		</div>

		<div class="bottom">www.apotest24.de</div>
	</div>
</ion-content>
