<comp-header [title]="{gross: 'Apotheke anlegen'}"
			 [showBackButton]="true">
</comp-header>

<ion-content>
	<form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
		<ion-item *ngFor="let item of formelements">
			<ion-label position="stacked"><span *ngIf="item === 'apotheker'">Email des</span>
				{{item}}
			</ion-label>
			<ion-input name="{{item}}" ngModel required></ion-input>
		</ion-item>

		<ion-button [disabled]="myForm.invalid" type="submit">Apotheke anlegen</ion-button>
	</form>
</ion-content>
