<comp-header [title]="{gross: 'Apotheker anlegen'}"
			 [showBackButton]="true">
</comp-header>

<ion-content>
	<form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
		<ion-item *ngFor="let item of formelements">
			<ion-label position="stacked">{{item}}</ion-label>
			<ion-input name="{{item}}" ngModel></ion-input>
		</ion-item>

		<ion-item *ngFor="let item of mitarbeiterAnzahl; let i = index">
			<ion-label position="stacked">{{item}}_{{i + 1}}</ion-label>
			<ion-input name="{{item}}_{{i + 1}}" ngModel required></ion-input>
		</ion-item>

		<br>
		<ion-button (click)="addNewMitarbeiter()">+ Mitarbeiter</ion-button>
		<ion-button (click)="removeNewMitarbeiter()" [disabled]="disabledButtonRemove">- Mitarbeiter</ion-button>
		<br>
		<ion-button type="submit">Apotheker anlegen</ion-button>
	</form>
</ion-content>
