.guthaben {
  border: 1px solid var(--ion-color-medium);

  .ion-padding {
    padding-left: 125px;
  }
}

table {
  width:100%;
  border-collapse: collapse;

  tr:nth-child(even) { background-color: #f2f2f2;}

  td {
    border: 1px solid var(--ion-color-medium);
    padding: 10px;

    &:last-child { text-align: right; }
  }
}




