<comp-header [title]="{gross: 'Deine Umsätze'}"
             [showHomeIcon]="true"
             [showMenuBurger]="true"
			 [anleitungsText]="'tester_auszahlung'"
			 [isAnleitungsText]="true"> <!-- "tester_auszahlung" ist der property name in der Datenbank (GlobaleText -> anleitungstexte -->
</comp-header>

<ion-content>
	<div class="guthaben d-flex-column-center ion-padding">
		<div>Offenes Guthaben:</div>
		<div class="font-size-2-5">{{offenesGuthaben}}&nbsp;€</div>
	</div>

	<comp-button (click)="submitAntrag()"
				 [disabled]="!alleOffenenAuftraege.length"
				 [text]="'Auszahlung beantragen'">
	</comp-button>

<!--	<ion-button (click)="submitAntrag()"-->
<!--				[disabled]="!alleOffenenAuftraege.length"-->
<!--				expand="block" class="ion-activatable ion-margin-top">-->
<!--			Auszahlung beantragen-->
<!--		<ion-ripple-effect></ion-ripple-effect>-->
<!--	</ion-button>-->

	<comp-headline *ngIf="tabelle.length" [text]="'Bisherige Auszahlungen: ' + tabelle.length"></comp-headline>
	<table class="ion-margin-top font-size-0-9">
		<tr *ngFor="let item of tabelle">
			<td style="width: 75%">{{getGuthabenTextInTabelle(item)}}</td>
			<td class="no-wrap">{{getPreisUndKosten2(item)}} €</td>
		</tr>
	</table>

	<comp-headline *ngIf="alleErledigtenAuftraege.length"
				   [text]="'Durchgeführte Tests: ' + alleErledigtenAuftraege.length">
	</comp-headline>
	<comp-card *ngFor="let form of alleErledigtenAuftraege"
			   (click)="goToTest(form)"
			   [title]="form.krankheitsname"
			   [subTitle]="'<div>' + form.apothekenname + '</div><div class=\'margin-top-5\'>' + form.datum + '<div>'"
			   [amount]="getPreisUndKosten(form) + ' €'"
			   [genehmigungsStatus]="form.genehmigungsStatus"
			   [korrekturbeschreibung]="form.korrekturbeschreibung">
	</comp-card>
</ion-content>
