<ion-searchbar 	#searchbar
			   	(ionInput)="getItems($event)"
				[placeholder]="placeholder"
			   	showCancelButton="focus"
				debounce="500"
        		animated>
</ion-searchbar>

<ion-list>
	<ion-item *ngFor="let auftrag of autosuggestList; let i = index" (click)="goToTest(auftrag)">
		<div class="margin-bottom-5" style="position: relative">
			<div><span class="abstand">{{i + 1}}.</span>{{auftrag.data.email}}</div>
			<div class="subtext"><span class="abstand"></span>{{auftrag.data.apothekenname}}</div>
		</div>
	</ion-item>
</ion-list>

<comp-icon-big *ngIf="showKeinTreffer"
				[iconName]="'alert'"
				[showText]="'Kein Treffer'">
</comp-icon-big>
