<comp-header [title]="{gross: welcomeName}"
			 [showHomeIcon]="true"
			 [showMenuBurger]="true"
			 [anleitungsText]="'tester_tab1'"
			 [isAnleitungsText]="true">
</comp-header>

<ion-content>
	<comp-button (click)="goToPage(ROUTES.customerSucheApotheke)"
				 [text]="'Neue Testaufträge suchen'">
	</comp-button>

	<comp-headline *ngIf="groupedByApotheken.length"
				   [text]="'Zuletzt besuchte Apotheken'">
	</comp-headline>
	<comp-card *ngFor="let apotheke of groupedByApotheken"
			   (click)="goToApotheke(apotheke[0])"
			   [title]="apotheke[0].name"
			   [subTitle]="	apotheke[0].plz + ' ' +
							apotheke[0].ort + '<br>' +
							apotheke[0].str + '<br> <br> ' +
							'Durchgeführte Tests: ' + apotheke.length">
	</comp-card>
</ion-content>
