<comp-header [title]="{gross: 'ALLE TESTAUFTRÄGE'}"
             [showHomeIcon]="true"
             [showBackButton]="true">
</comp-header>

<ion-content>
  <comp-headline *ngIf="activeForms.length"
                 [text]="'Aktive Aufträge'">
  </comp-headline>
  <comp-card *ngFor="let form of activeForms"
             (click)="goToPage(form)"
             [formTyp]="'Auftrag'"
             [itemValue]="form.id"
             [active]="true"
             [title]="form.title"
             [subTitle]="form.subtitle"
             [amount]="form.anzahlAuftraege"
             [linkText]="GLOBAL.GlobaleTexte.text8">
  </comp-card>

  <comp-headline *ngIf="inactiveForms.length"
                 [text]="'Deaktivierte Aufträge'">
  </comp-headline>
  <comp-card *ngFor="let form of inactiveForms"
             (click)="goToPage(form)"
             [formTyp]="'Auftrag'"
             [itemValue]="form.id"
             [active]="false"
             [title]="form.title"
             [subTitle]="form.subtitle"
             [amount]="form.anzahlAuftraege"
             [isDeactive]="true"
             [linkText]="GLOBAL.GlobaleTexte.text8">
  </comp-card>
</ion-content>
