<comp-header [title]="{gross: allForms.length + ' Testaufträge'}"
             [showHomeIcon]="true"
             [showBackButton]="true"
			 [anleitungsText]="'tester_suche'"
			 [isAnleitungsText]="true"> <!-- "tester_suche" ist der property name in der Datenbank (GlobaleText -> anleitungstexte -->
</comp-header>

<ion-content>
	<div *ngIf="isKontingentErschoepft" class="meldung">Kontingent ist erschöpft</div>

	<comp-spinner *ngIf="allForms.length === 0"></comp-spinner>
	<div class="ion-text-center">
		<div>{{queryParams.name}}</div>
		<div class="margin-top-bottom-5">{{queryParams.plz}} {{queryParams.ort}}</div>
		<div>{{queryParams.str}}</div>
	</div>
	<ng-container *ngFor="let item of allForms">
		<comp-card (click)="openAuftrag(item)"
				   [title]="item.title"
				   [kontingentErschoepft]="item.kontingentErschoepft"
				   [subTitle]="getAnzahlDurchgefuehfterTests(item)"
				   [amount]="item.preis + ' €'"
				   [icon]="item.bereitsErledigterAuftrag ? 'checkmark' : 'body'"
				   [isDeactive]="item.kontingentErschoepft">
		</comp-card>
</ng-container>
</ion-content>
