/* Min height of bar on desktop devices (WWR-8620) */
@media (min-width: 950px) {
  .optanon-alert-box-wrapper {
    min-height: 350px;
  }
}

#onetrust-banner-sdk #onetrust-policy-text,
#onetrust-banner-sdk .ot-dpd-desc,
#onetrust-banner-sdk .ot-b-addl-desc {
  font-size: 1em;
  line-height: 1.5;
}
#onetrust-banner-sdk #onetrust-policy-text a {
  font-weight: normal;
  margin-left: 0px;
}

// von mir eingefügtes CSS
#onetrust-consent-sdk #onetrust-banner-sdk {
  background-color: rgba(0,0,0,0.85);
}
#onetrust-policy-title {
  font-size: 24px !important;
  margin-bottom: 20px !important;
}

#onetrust-policy-text {
  font-size: 14px !important;
}

#onetrust-pc-btn-handler {
  border-color: #c8c8c8 !important;
  color: #c8c8c8 !important;
}
#onetrust-banner-sdk #onetrust-pc-btn-handler:hover {
  border-color: #ffffff !important;
  color: #ffffff !important;
  opacity: 1 !important;
}
@media only screen and (max-width: 480px) {
  #onetrust-policy-text {
    height: 200px !important;
    overflow: auto !important;
    margin-top: 20px !important;
  }
}
