<div>
	<ion-searchbar #searchbar
				   (ionInput)="getItems($event)"
				   (ionFocus)="resetItems()"
				   placeholder="Suche nach Apotheke"
				   showCancelButton="focus"
				   cancelButtonText="Custom Cancel">
	</ion-searchbar>

	<ion-list>
		<ng-container *ngFor="let item of autosuggest; let i = index">
			<ion-item (click)="clickOnOrt(item)">
				<ion-label class="font-size-0-8">{{item.plz + ' ' + item.ort + ', ' + item.apothekenname}}</ion-label>
			</ion-item>
		</ng-container>
	</ion-list>

	<div *ngIf="alleApothekenInOrt.length" class="ion-padding">
		<ion-icon (click)="closeSelectedApotheke()"
				  name="close-circle-outline" class="ion-float-end font-size-1-5">
		</ion-icon>
		<ion-title class="ion-no-padding">Gefundene Orte in {{ort}}</ion-title>
		<comp-card *ngFor="let apotheke of alleApothekenInOrt"
				   (click)="goToApotheke(apotheke)"
				   [title]="apotheke.name"
				   [bereitsErledigterAuftrag]=""
				   [subTitle]="	apotheke.plz + ' ' +
								  apotheke.ort + '<br>' +
								  apotheke.str + '<br> <br>'"
				   [icon]="'medkit'"
				   [linkText]="GLOBAL.GlobaleTexte.text3">
		</comp-card>
	</div>
</div>
