<comp-header [title]="{gross: title}"
			 [showBackButton]="true">
</comp-header>

<ion-content>
	<comp-headline [text]="'Anzahl: ' + anzahlElemente"></comp-headline>
	<ion-card *ngFor="let item of formelements">
		<ion-card-content>
			<p><i>title:</i> <strong>{{item.title}}</strong></p>
			<p><i>typ:</i> <strong>{{item.typ}}</strong></p>
			<p *ngIf="item.subtyp"><i>subtyp:</i> <strong>{{item.subtyp}}</strong></p>
			<p *ngIf="item.formarray"><i>formarray:</i> <strong>{{item.formarray}}</strong></p>

			<p><i>order:</i> {{item.order}}</p>
			<p><i>required:</i> {{item.required}}</p>
			<p *ngIf="item.skala"><i>skala:</i> {{item.skala}}</p>
			<p *ngIf="item.textarea"><i>textarea:</i> {{item.textarea}}</p>
			<p *ngIf="item.placeholder"><i>placeholder:</i> {{item.placeholder}}</p>
			<p *ngIf="item.min"><i>min:</i> {{item.min}}</p>
			<p *ngIf="item.max"><i>max:</i> {{item.max}}</p>
			<p *ngIf="item.checkboxen"><i>checkboxen:</i> {{item.checkboxen.join()}}</p>
		</ion-card-content>
	</ion-card>
</ion-content>
