@import '~src/global';

$color-w: var(--ion-color-dark);
$color-m: var(--ion-color-dark);
$maxBalkenHeight: 250px;

.balken {
  position: relative;
  width: 0;
  height: 20px;
  transition: all 2s;
}

.zahl {
  font-size: 0.7rem;
  margin-left: 5px;
  white-space: nowrap;
  //color: var(--ion-color-medium);
}

.label {
  padding: 5px;
  font-size: 0.7rem;
  //position: absolute;
  //left: 10px;
}

.full-balken-w { background: $color-w; }
.full-balken-m { background: $color-m; }

.empty-balken-w, .empty-balken-m { width: 2px; }
.empty-balken-w { border: 1px solid $color-w;}
.empty-balken-m { border: 1px solid $color-m; }

.aufrecht-balken-container {
    max-height: $maxBalkenHeight;
    transition: all 2s;

    .zahl {
      margin-left: 0;
    }
  > div {
    //width: 18%;
    width: 25px;
    text-align: center;
    //color: var(--ion-color-medium);
    font-size: 0.7rem;

    .skala-nr {
      font-size: 1rem;
      text-align: center;
    }
  }

  .aufrecht-balken {
    background: var(--ion-color-primary);
    @extend .d-flex-center;
  }

  .aufrecht-balken-empty {
    height: 1px !important;
    border: 1px solid grey;
    @extend .d-flex-center;
  }
}
