<div *ngIf="showTreffer" class="page-font-color ion-margin">

<!-- GESCHLECHT -->
	<div *ngIf="showGeschlecht">
		<div class="margin-top-30">
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-head padding-10 font-size-0-8">
				{{GLOBAL.Formularueberschriften.radio_geschlecht}}
			</div>
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-under padding-10">
				<div class="d-flex-align-center">
					<div class="label">W</div>
					<div [ngClass]="[showFullBalkenW.first ? 'full-balken-w' : 'empty-balken-w', themeColor ? 'dn-bgcolor-' + themeColor : '']"
						 [style.width]="balkenWidthM.first + '%'"
						 class="balken d-flex-center margin-bottom-5">
					</div>
					<span class="zahl">{{valueW}}
						<span *ngIf="prozentGeschlechtW > 0">({{prozentGeschlechtW}}%)</span>
					</span>
				</div>
				<div class="d-flex-align-center margin-top-10">
					<div class="label">M</div>
					<div [ngClass]="[showFullBalkenW.second ? 'full-balken-m' : 'empty-balken-m', themeColor ? 'dn-bgcolor-hell-' + themeColor : '']"
						 [style.width]="balkenWidthM.second + '%'"
						 class="balken d-flex-center">
					</div>
					<span class="zahl">{{valueM}}
						<span *ngIf="prozentGeschlechtM > 0">({{prozentGeschlechtM}}%)</span>
					</span>
				</div>
			</div>
		</div>
	</div>

<!-- GAB ES KAUF -->
	<div *ngIf="showGabEsKauf">
		<div class="margin-top-30">
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-head padding-10 font-size-0-8">{{GLOBAL.Formularueberschriften.radio_kaufentscheidung}}
			</div>
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-under padding-10">
				<div class="d-flex-align-center">
					<div class="label">J</div>
					<div [ngClass]="[showFullBalkenGabEsKauf.first ? 'full-balken-w' : 'empty-balken-w', themeColor ? 'dn-bgcolor-' + themeColor : '']"
						 [style.width]="balkenWidthGabEsKauf.first + '%'"
						 class="balken d-flex-center margin-bottom-5">
					</div>
					<span class="zahl">{{gabEsKaufJa}}
						<span *ngIf="prozentGabEsKaufJa > 0">({{prozentGabEsKaufJa}}%)</span>
					</span>
				</div>
				<div class="d-flex-align-center margin-top-10">
					<div class="label">N</div>
					<div [ngClass]="[showFullBalkenGabEsKauf.second ? 'full-balken-m' : 'empty-balken-m', themeColor ? 'dn-bgcolor-hell-' + themeColor : '']"
						 [style.width]="balkenWidthGabEsKauf.second + '%'"
						 class="balken d-flex-center">
					</div>
					<span class="zahl">{{gabEsKaufNein}}
						<span *ngIf="prozentGabEsKaufNein > 0">({{prozentGabEsKaufNein}}%)</span>
					</span>
				</div>
			</div>
		</div>
	</div>

<!-- WEITERE ARZNEIMITTEL -->
	<div *ngIf="showWeitereArzneimittel">
		<div class="margin-top-30">
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-head padding-10 font-size-0-8">
				{{GLOBAL.Formularueberschriften.radio_weiterearzneimittel}}
			</div>
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-under padding-10">
				<div class="d-flex-align-center">
					<div class="label">J</div>
					<div [ngClass]="[showFullBalkenWeitereArzneimittel.first ? 'full-balken-w' : 'empty-balken-w', themeColor ? 'dn-bgcolor-' + themeColor : '']"
						 [style.width]="balkenWidthWeitereArzneimittel.first + '%'"
						 class="balken d-flex-center margin-bottom-5">
					</div>
					<span class="zahl">{{weitereArzneimittelJa}}
						<span *ngIf="prozentArzneiJa > 0">({{prozentArzneiJa}}%)</span>
					</span>
				</div>
				<div class="d-flex-align-center margin-top-10">
					<div class="label">N</div>
					<div [ngClass]="[showFullBalkenWeitereArzneimittel.second ? 'full-balken-m' : 'empty-balken-m', themeColor ? 'dn-bgcolor-hell-' + themeColor : '']"
						 [style.width]="balkenWidthWeitereArzneimittel.second + '%'"
						 class="balken d-flex-center">
					</div>
					<span class="zahl">{{weitereArzneimittelNein}}
						<span *ngIf="prozentArzneiNein > 0">({{prozentArzneiNein}}%)</span>
					</span>
				</div>
			</div>
		</div>
	</div>

<!-- GIVE AWAY -->
	<div *ngIf="showGiveAway">
		<div class="margin-top-30">
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-head padding-10 font-size-0-8">
				{{GLOBAL.Formularueberschriften.radio_giveaway}}
			</div>
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-under padding-10">
				<div class="d-flex-align-center">
					<div class="label">J</div>
					<div [ngClass]="[showFullBalkenGiveAway.first ? 'full-balken-w' : 'empty-balken-w', themeColor ? 'dn-bgcolor-' + themeColor : '']"
						 [style.width]="balkenWidthGiveAway.first + '%'"
						 class="balken d-flex-center margin-bottom-5">
					</div>
					<span class="zahl">{{giveawayJa}}
						<span *ngIf="prozentAwayJa > 0">({{prozentAwayJa}}%)</span>
					</span>
				</div>
				<div class="d-flex-align-center margin-top-10">
					<div class="label">N</div>
					<div [ngClass]="[showFullBalkenGiveAway.second ? 'full-balken-m' : 'empty-balken-m', themeColor ? 'dn-bgcolor-hell-' + themeColor : '']"
						 [style.width]="balkenWidthGiveAway.second + '%'"
						 class="balken d-flex-center">
					</div>
					<span class="zahl">{{giveawayNein}}
						<span *ngIf="prozentAwayNein > 0">({{prozentAwayNein}}%)</span>
					</span>
				</div>
			</div>
		</div>
	</div>

<!-- TREUESTEMPEL -->
	<div *ngIf="showStempel">
		<div class="margin-top-30">
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-head padding-10 font-size-0-8">
				{{GLOBAL.Formularueberschriften.radio_treuestempel}}
			</div>
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-under padding-10">
				<div class="d-flex-align-center">
					<div class="label">J</div>
					<div [ngClass]="[showFullBalkenStempel.first ? 'full-balken-w' : 'empty-balken-w', themeColor ? 'dn-bgcolor-' + themeColor : '']"
						 [style.width]="balkenWidthStempel.first + '%'"
						 class="balken d-flex-center margin-bottom-5">
					</div>
					<span class="zahl">{{treuestempelJa}}
						<span *ngIf="prozentStempelJa > 0">({{prozentStempelJa}}%)</span>
					</span>
				</div>
				<div class="d-flex-align-center margin-top-10">
					<div class="label">N</div>
					<div [ngClass]="[showFullBalkenStempel.second ? 'full-balken-m' : 'empty-balken-m', themeColor ? 'dn-bgcolor-hell-' + themeColor : '']"
						 [style.width]="balkenWidthStempel.second + '%'"
						 class="balken d-flex-center">
					</div>
					<span class="zahl">{{treuestempelNein}}
						<span *ngIf="prozentStempelNein > 0">({{prozentStempelNein}}%)</span>
					</span>
				</div>
			</div>
		</div>
	</div>

<!-- ZEITUNG -->
	<div *ngIf="showZeitung">
		<div class="margin-top-30">
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-head padding-10 font-size-0-8">
				{{GLOBAL.Formularueberschriften.radio_zeitung}}
			</div>
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-under padding-10">
				<div class="d-flex-align-center">
					<div class="label">J</div>
					<div [ngClass]="[showFullBalkenZeitung.first ? 'full-balken-w' : 'empty-balken-w', themeColor ? 'dn-bgcolor-' + themeColor : '']"
						 [style.width]="balkenWidthZeitung.first + '%'"
						 class="balken d-flex-center margin-bottom-5">
					</div>
					<span class="zahl">{{zeitungJa}}
						<span *ngIf="prozentZeitungJa > 0">({{prozentZeitungJa}}%)</span>
					</span>
				</div>
				<div class="d-flex-align-center margin-top-10">
					<div class="label">N</div>
					<div [ngClass]="[showFullBalkenZeitung.second ? 'full-balken-m' : 'empty-balken-m', themeColor ? 'dn-bgcolor-hell-' + themeColor : '']"
						 [style.width]="balkenWidthZeitung.second + '%'"
						 class="balken d-flex-center">
					</div>
					<span class="zahl">{{zeitungNein}}
						<span *ngIf="prozentZeitungNein > 0">({{prozentZeitungNein}}%)</span>
					</span>
				</div>
			</div>
		</div>
	</div>

<!-- TÜTE -->
	<div *ngIf="showTuete">
		<div class="margin-top-30">
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-head padding-10 font-size-0-8">
				{{GLOBAL.Formularueberschriften.radio_tuete}}
			</div>
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-under padding-10">
				<div class="d-flex-align-center">
					<div class="label">J</div>
					<div [ngClass]="[showFullBalkenTuete.first ? 'full-balken-w' : 'empty-balken-w', themeColor ? 'dn-bgcolor-' + themeColor : '']"
						 [style.width]="balkenWidthTuete.first + '%'"
						 class="balken d-flex-center margin-bottom-5">
					</div>
					<span class="zahl">{{tueteJa}}
						<span *ngIf="prozentTueteJa > 0">({{prozentTueteJa}}%)</span>
					</span>
				</div>
				<div class="d-flex-align-center margin-top-10">
					<div class="label">N</div>
					<div [ngClass]="[showFullBalkenTuete.second ? 'full-balken-m' : 'empty-balken-m', themeColor ? 'dn-bgcolor-hell-' + themeColor : '']"
						 [style.width]="balkenWidthTuete.second + '%'"
						 class="balken d-flex-center">
					</div>
					<span class="zahl">{{tueteNein}}
						<span *ngIf="prozentTueteNein > 0">({{prozentTueteNein}}%)</span>
					</span>
				</div>
			</div>
		</div>
	</div>

<!-- NAMENSSCHILD -->
	<div *ngIf="showNamensschild">
		<div class="margin-top-30">
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-head padding-10 font-size-0-8">
				{{GLOBAL.Formularueberschriften.radio_namensschild}}
			</div>
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-under padding-10">
				<div class="d-flex-align-center">
					<div class="label">J</div>
					<div [ngClass]="[showFullBalkenNamensschild.first ? 'full-balken-w' : 'empty-balken-w', themeColor ? 'dn-bgcolor-' + themeColor : '']"
						 [style.width]="balkenWidthNamensschild.first + '%'"
						 class="balken d-flex-center margin-bottom-5">
					</div>
					<span class="zahl">{{namensschildJa}}
						<span *ngIf="prozentNamensschildJa > 0">({{prozentNamensschildJa}}%)</span>
					</span>
				</div>
				<div class="d-flex-align-center margin-top-10">
					<div class="label">N</div>
					<div [ngClass]="[showFullBalkenNamensschild.second ? 'full-balken-m' : 'empty-balken-m', themeColor ? 'dn-bgcolor-hell-' + themeColor : '']"
						 [style.width]="balkenWidthNamensschild.second + '%'"
						 class="balken d-flex-center">
					</div>
					<span class="zahl">{{namensschildNein}}
						<span *ngIf="prozentNamensschildNein > 0">({{prozentNamensschildNein}}%)</span>
					</span>
				</div>
			</div>
		</div>
	</div>

<!-- ARBEITSKLEIDUNG -->
	<div *ngIf="showKleidung">
		<div class="margin-top-30">
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-head padding-10 font-size-0-8">
				{{GLOBAL.Formularueberschriften.radio_arbeitskleidung}}
			</div>
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-under padding-10">
				<div class="d-flex-align-center">
					<div class="label">J</div>
					<div [ngClass]="[showFullBalkenKleidung.first ? 'full-balken-w' : 'empty-balken-w', themeColor ? 'dn-bgcolor-' + themeColor : '']"
						 [style.width]="balkenWidthKleidung.first + '%'"
						 class="balken d-flex-center margin-bottom-5">
					</div>
					<span class="zahl">{{kleidungJa}}
						<span *ngIf="prozentKleidungJa > 0">({{prozentKleidungJa}}%)</span>
					</span>
				</div>
				<div class="d-flex-align-center margin-top-10">
					<div class="label">N</div>
					<div [ngClass]="[showFullBalkenKleidung.second ? 'full-balken-m' : 'empty-balken-m', themeColor ? 'dn-bgcolor-hell-' + themeColor : '']"
						 [style.width]="balkenWidthKleidung.second + '%'"
						 class="balken d-flex-center">
					</div>
					<span class="zahl">{{kleidungNein}}
						<span *ngIf="prozentKleidungNein > 0">({{prozentKleidungNein}}%)</span>
					</span>
				</div>
			</div>
		</div>
	</div>

<!-- FREUNDLICHKEIT -->
	<div *ngIf="showFreundlichkeit">
		<div class="margin-top-30">
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-head padding-10 font-size-0-8">
				{{GLOBAL.Formularueberschriften.skala_freundlichkeit}}
			</div>
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-under padding-10">
				<div class="aufrecht-balken-container d-flex-around ion-align-items-end ion-margin-top">
					<div *ngFor="let i of [0,1,2,3,4]">
						<div class="d-flex-column">
							<span *ngIf="anzahl[i] > 0" class="no-wrap">({{prozentFreundlichkeit[i].toFixed()}}%)</span>
							<span class="zahl">{{anzahl[i]}}</span>
						</div>
						<div [style.height]="balkenHeight[i] +'px'"
							 [ngClass]="[showFullBalken[i] ? 'aufrecht-balken' : 'aufrecht-balken-empty', themeColor ? 'dn-bgcolor-' + themeColor : '']">
						</div>
						<div class="skala-nr">{{i + 1}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- Beratung -->
	<div *ngIf="showBeratung">
		<div class="margin-top-30">
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-head padding-10 font-size-0-8">
				{{GLOBAL.Formularueberschriften.skala_beratung}}
			</div>
			<div [ngClass]="themeColor ? 'dn-bordercolor-' + themeColor : ''"
				 class="border-under padding-10">
				<div class="aufrecht-balken-container d-flex-around ion-align-items-end ion-margin-top">
					<div *ngFor="let i of [0,1,2,3,4]">
						<div class="d-flex-column">
							<span *ngIf="anzahl[i] > 0" class="no-wrap">({{prozentBeratung[i].toFixed()}}%)</span>
							<span class="zahl">{{anzahlBeratung[i]}}</span>
						</div>
						<div [style.height]="balkenHeightBeratung[i] +'px'"
							[ngClass]="[showFullBalkenBeratung[i] ? 'aufrecht-balken' : 'aufrecht-balken-empty', themeColor ? 'dn-bgcolor-' + themeColor : '']">
						</div>
						<div class="skala-nr">{{i + 1}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<comp-icon-big *ngIf="!showTreffer"
			   [iconName]="'alert'"
			   [showText]="'Keine Daten für Diagramme'">
</comp-icon-big>
