//:host(.tab-selected) {
//  color: var(--color-selected);
//}

ion-badge {
  font-size: 11px;
}
ion-tabbar {
  --ion-color-primary: #fff;
}

.tab-selected-primary {
  color: var(--ion-color-primary);
}
.tab-selected-success {
  color: var(--ion-color-success);
}
.tab-selected-orange {
  color: var(--ion-color-orange);
}

