<ion-tabs>
	<ion-tab-bar slot="bottom">
		<ng-container *ngIf="userTyp != undefined">
			<ion-tab-button *ngFor="let item of tabs; let i = index"
							tab="{{data[userTyp].tabs[item]}}"
							(click)="setSelectedTab(i)"
							[ngClass]="tabsCssClass[i] ? 'tab-selected-' + tabsCssClass[i] : ''">
				<ion-icon *ngIf="userTyp === 'APOTHEKER'" src="{{data[userTyp].icons[item]}}"></ion-icon>
				<ion-icon *ngIf="!(userTyp === 'APOTHEKER')" name="{{data[userTyp].icons[item]}}"></ion-icon>
				<ion-label>{{data[userTyp].labels[item]}}</ion-label>
				<ion-badge *ngIf="data[userTyp].badge[item][0]" color="primary">
					{{data[userTyp].badge[item][1]}}
				</ion-badge>
			</ion-tab-button>
		</ng-container>
	</ion-tab-bar>
</ion-tabs>
