<comp-header [title]="{gross: 'Ihre Apotheken'}"
             [showHomeIcon]="true"
             [showMenuBurger]="true"
			 [anleitungsText]="'apotheker_auswertung'"
			 [isAnleitungsText]="true"> <!-- "apotheker_auswertung" ist der property name in der Datenbank (GlobaleText -> anleitungstexte -->
</comp-header>

<ion-content>
	<comp-card *ngFor="let apo of alleApotheken"
			   (click)="goToPage(apo)"
			   [title]="apo.name"
			   [amount]="apo.score"
			   [prozentZeichen]="false"
			   [subTitle]="apo.str + '<br>' + apo.plz + ' ' + apo.ort"
			   [isDeactive]="false">
	</comp-card>
</ion-content>
