<comp-header [title]="{gross: title}"
			 [showHomeIcon]="true"
			 [showBackButton]="true">
</comp-header>

<ion-content>
	<ion-grid *ngIf="resultForms.length" class="ion-no-padding">
		<ion-row>
			<ion-col size-md="8" offset-md="2">
				<div *ngIf="genehmigungsStatus === 'abgelehnt' && korrekturbeschreibung !== 'undefined'">
					<div class="dn-color-danger margin-bottom-5">Hinweis: Der Test wurde abgelehnt. Siehe folgende Begründung.</div>
					<div class="meldung">{{korrekturbeschreibung}}</div>
				</div>
				<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
					<ng-container *ngFor="let el of resultForms">
						<comp-formradio *ngIf="el.typ == 'radio'"
										[myForm]="myForm"
										[controlname]="el.title"
										[required]="el.required"
										[title]="el.titleIndividuell ? el.titleIndividuell : formTitle[el.title]"
										[radioItems]="el.subtyp === 'janein' ? jaNein :
													  el.subtyp == 'geschlecht' ? geschlecht :
													  el.subtyp == 'apotheke' ? apotheken : ''"
										[disabled]="!showSubmitButton">
						</comp-formradio>
						<comp-formcheckbox *ngIf="el.typ == 'checkbox'"
										   [myForm]="myForm"
										   [formArray]="el.formarray"
										   [title]="el.titleIndividuell ? el.titleIndividuell : formTitle[el.title]"
										   [checkboxen]="el.checkboxen"
										   [disabled]="!showSubmitButton">
						</comp-formcheckbox>
						<comp-formradioskala *ngIf="el.typ == 'skala'"
											 [myForm]="myForm"
											 [controlname]="el.title"
											 [required]="el.required"
											 [title]="el.titleIndividuell ? el.titleIndividuell : formTitle[el.title]"
											 [radioItems]="skalaSize"
											 [disabled]="!showSubmitButton">
						</comp-formradioskala>
						<comp-formtextarea *ngIf="el.typ == 'textarea'"
										   [myForm]="myForm"
										   [controlname]="el.title"
										   [required]="el.required"
										   [title]="el.titleIndividuell ? el.titleIndividuell : formTitle[el.title]"
										   [placeholder]="el.placeholder"
										   [minLength]="el.minLength ? el.minLength : 0"
										   [maxLength]="el.maxLength ? el.maxLength : 100"
										   [readonly]="!showSubmitButton">
						</comp-formtextarea>
						<comp-forminput *ngIf="el.typ == 'input'"
										[myForm]="myForm"
										[controlname]="el.title"
										[required]="el.required"
										[title]="el.titleIndividuell ? el.titleIndividuell : formTitle[el.title]"
										[subtyp]="el.subtyp"
										[placeholder]="el.placeholder"
										[minLength]="el.minLength ? el.minLength: 1"
										[maxLength]="el.maxLength ? el.maxLength: 50"
										[kostenOrAlter]="getInputValue(el.title)"
										[readonly]="!showSubmitButton">
						</comp-forminput>
						<!-- P H O T O  S C H I E ß E N -->
<!--						<ion-list *ngIf="el.typ == 'photo'">-->
<!--							<ion-list-header margin-bottom-10>-->
<!--								<ion-label>-->
<!--									{{el.titleIndividuell ? el.titleIndividuell.replace('#', el.maxPhotos) : formTitle[el.title].replace('#', el.minPhotos)}}-->
<!--									<star *ngIf="true"></star>-->
<!--								</ion-label>-->
<!--							</ion-list-header>-->
<!--							<ion-item *ngIf="produktBilderRechnung.length" lines="none">-->
<!--								<ion-slides [options]="slideOpts">-->
<!--									<ng-container *ngFor="let produktBild of (el.subtyp === 'immobilie') ? produktBilderImmobilie : produktBilderRechnung.reverse(); let i = index;">-->
<!--										<ion-slide>-->
<!--											<div class="d-flex-column">-->
<!--												<image-zoom-component *ngIf="produktBild.base64"-->
<!--																	  [imgUrl]="produktBild.base64"-->
<!--																	  [firma]=""-->
<!--																	  [email]=""-->
<!--																	  [cssClasses]="'imageViewer'">-->
<!--												</image-zoom-component>-->
<!--												<ion-icon (click)="deleteImage(produktBild.base64)" name="trash"></ion-icon>-->
<!--											</div>-->
<!--										</ion-slide>-->
<!--									</ng-container>-->
<!--								</ion-slides>-->
<!--							</ion-item>-->
<!--						</ion-list>-->

						<!-- P H O T O  S C H I E ß E N -->
						<ion-list *ngIf="el.typ == 'photo'">
							<ion-list-header margin-bottom-10>
								<ion-label>
									{{el.titleIndividuell ? el.titleIndividuell.replace('#', el.maxPhotos) : formTitle[el.title].replace('#', el.maxPhotos)}}
									<star *ngIf="true"></star>
								</ion-label>
							</ion-list-header>
							<comp-photobutton
									(myEventEmitted)="outputProduktBilder($event, el.subtyp)"
									[produktBilder]="(el.subtyp === 'immobilie') ? produktBilderImmobilie : produktBilderRechnung.reverse()"
									[maximumImages]="el.maxPhotos"
									[subtyp]="el.subtyp"
									[showImageAmountHint]="showImageAmountHint[el.subtyp]"
									[showSubmitButton]="showSubmitButton">
							</comp-photobutton>
						</ion-list>

						<!-- M I T A R B E I T E R -->
						<ion-list *ngIf="el.typ == 'select'">
							<ion-list-header><ion-label>Mitarbeiter</ion-label></ion-list-header>
							<ion-select [formControlName]="el.title"
										[value]="prefilledFormData[el.title]"
										[disabled]="!showSubmitButton" interface="popover">
<!--										[selectedText]="prefilledFormData[el.title]"-->
								<ion-select-option *ngFor="let item of mitarbeiter" value="{{item}}">{{item}}</ion-select-option>
							</ion-select>
						</ion-list>
					</ng-container>

					<comp-formbutton *ngIf="showSubmitButton"
							[myForm]="myForm"
							[buttonText]="'Senden'"
							class="margin-top-30">
					</comp-formbutton>

					<ng-container *ngIf="binIchVIP && genehmigungsStatus === 'inpruefung'">
						<ion-button (click)="testBestaetigen()"
									expand="block" color="success" class="ion-activatable margin-top-30">
							Test bestätigen
							<ion-ripple-effect></ion-ripple-effect>
						</ion-button>

						<ion-button (click)="testAblehnen()"
									expand="block" color="danger" class="ion-activatable margin-top-30">
							Test ablehnen
							<ion-ripple-effect></ion-ripple-effect>
						</ion-button>

						<ion-item *ngIf="korrekturbeschreibung === ''">
							<ion-note color="danger">
								Bitte eine Korrekturbeschreibung angeben.
								Denn eine Ablehnung ohne Beschreibung macht keinen Sinn.
							</ion-note>
						</ion-item>

						<ion-item>
							<ion-textarea (ionChange)="setKorrekturbeschreibung($event.target.value)"
										  rows="4" placeholder="Korrekturbeschreibung">
							</ion-textarea>
						</ion-item>
					</ng-container>
				</form>
			</ion-col>
		</ion-row>
	</ion-grid>
	<comp-icon-big *ngIf="resultForms.length === 0"
				   [iconName]="'create'"
				   [showText]="'Noch keine Aufträge'">
	</comp-icon-big>
</ion-content>
