.swiper-container {
  width: 100%;
  background-color: var(--ion-color-light);
  border: 2px dashed var(--ion-color-medium);
  padding: 10px;
  height: 160px;

  img {
    object-fit: cover;
    width: 115px;
    height: 100px;
  }
}
