<comp-header [title]="{gross: 'Alle Apotheker'}"
			 [showMenuBurger]="true">
</comp-header>

<ion-content>
	<comp-card *ngFor="let apotheker of alleApotheker"
			   (click)="goToKrankheiten(apotheker)"
			   [title]="getName(apotheker)"
			   [isDeactive]="apotheker.anzahlOffenerTest === 0"
			   [amount]="apotheker.anzahlOffenerTest">
	</comp-card>
</ion-content>
