<comp-header [title]="{gross: email}"
			 [showBackButton]="true">
</comp-header>

<ion-content>
	<div *ngIf="genehmigungsStatus === 'beantragt'" class="ion-text-center dn-color-danger">
		Auszahlung wurde beantragt! <br>
		Offener Betrag {{guthabenhoehe}}€
	</div>

	<comp-icon-big *ngIf="genehmigungsStatus === 'erledigt'"
				   [iconName]="'checkmark'"
				   [color]="'dn-color-secondary'"
				   [showText]="'Auszahlung bestätigt'">
	</comp-icon-big>
	<ng-container *ngIf="tabelle.length">
		<comp-headline [text]="'Bisherige Auszahlungen: ' + tabelle.length"></comp-headline>
		<table class="ion-margin-top">
			<tr *ngFor="let item of tabelle">
				<td style="width: 75%">{{ date.transform(item.datum_erledigt) }}</td>
				<td>{{getPreisUndKosten(item)}}&nbsp;€</td>
				<td (click)="goToRechnungsPage(item)"><ion-badge color="primary">R</ion-badge></td>
			</tr>
		</table>
	</ng-container>

	<div class="margin-top-30"><strong>Email</strong>: {{email}}</div>

	<ion-button *ngIf="genehmigungsStatus === 'beantragt'"
				(click)="auszahlungBestaetigen()"
				expand="block" class="ion-activatable margin-top-30">
		Auszahlung bestätigen *
		<ion-ripple-effect></ion-ripple-effect>
	</ion-button>
</ion-content>
