<ion-list [formGroup]="myForm">
	<ion-list-header>
		<ion-label>{{title}} <star *ngIf="required"></star></ion-label>
	</ion-list-header>
	<ion-item lines="none">
		<mat-form-field class="example-full-width">
			<input (change)="outputMyForm({'myForm': myForm, 'controlName': controlname})"
				   [(ngModel)]="kostenOrAlter"
				   (blur)="cutValue($event.target.value, {'myForm': myForm, 'controlName': controlname})"
				   formControlName="{{controlname}}"
				   placeholder="{{placeholder}}"
				   type="{{subtyp}}"
				   matInput
				   autocomplete="off"
				   minlength="{{minLength}}"
				   maxlength="{{maxLength}}"
				   readonly="{{readonly}}">
		</mat-form-field>
	</ion-item>
</ion-list>
