<comp-header [title]="{gross: 'Alle Apotheker'}"
			 [showBackButton]="true">
</comp-header>

<ion-content>
	<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
		<mat-form-field *ngFor="let item of formElements" class="example-full-width">
			<mat-label>{{item}}</mat-label>
			<input [formControlName]="item" matInput>
		</mat-form-field>

		<div class="margin-top-30">
			<comp-formbutton [myForm]="myForm" [buttonText]="'Senden'"></comp-formbutton>
		</div>
	</form>
</ion-content>
