<comp-header [title]="{gross: 'Suche nach Apotheke'}"
			 [showHomeIcon]="true"
			 [showBackButton]="true"
			 [anleitungsText]="'tester_sucheapotheke'"
			 [isAnleitungsText]="true">
</comp-header>

<ion-content class="ion-no-padding">
	<mat-tab-group [selectedIndex]="tabIndex" (selectedIndexChange)="tabChanged($event)" mat-stretch-tabs>
		<mat-tab label="Map">
			<kartenansicht></kartenansicht>
		</mat-tab>

		<mat-tab label="Apothekenliste">
			<listenansicht></listenansicht>
		</mat-tab>
	</mat-tab-group>
</ion-content>
