@mixin circle($size) {
  position: relative;
  width: $size !important;
  height: $size !important;
  border-radius: 50%;
}

@mixin ellipsis($number) {
    display: -webkit-box;
    -webkit-line-clamp: $number;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
