@font-face {
  font-family: 'poppins';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Poppins-Medium.ttf');
}

// Material Design
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
        $font-family: 'poppins'
);

@include mat-core($custom-typography);

:root {
  @include angular-material-typography($custom-typography);
  --ion-font-family: 'poppins' !important;
  font-size: 1rem;
  --ion-color-schriftfarbe-black: #000000;
  --ion-color-schriftfarbe-blue: #4D7FC8;
  color: var(--ion-color-schriftfarbe-black);

  --ion-color-primary: #4D7FC8;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  --ion-color-secondary: #2164C5;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  --ion-color-tertiary: #C7C7C7;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #26B98C;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-orange: #CB6657;
  --ion-color-orange-rgb: 203,102,87;
  --ion-color-orange-contrast: #000000;
  --ion-color-orange-contrast-rgb: 0,0,0;
  --ion-color-orange-shade: #b35a4d;
  --ion-color-orange-tint: #d07568;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-white: white;
}

ion-toolbar {
  //--background: linear-gradient(197deg, rgba(100,100,100,1) 0%, rgba(63,63,63,1) 13.5%, rgba(29,29,29,1) 33.33%, rgba(0,0,0,1) 100%) !important;
  --background: linear-gradient(to right, rgba(33,100,197), rgba(10,62,137));
  --color: white;
}

.ion-toolbar-success {
  --background: linear-gradient(to right, rgba(10, 186, 132), rgba(0, 163, 113));
  --color: white;
}

.ion-toolbar-orange {
  --background: linear-gradient(to right, rgba(184, 91, 76), rgba(165, 66, 50));
  --color: white;
}

ion-content {
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
  --padding-bottom: 16px;
}

.dn-headline-1 {
  font-size: 1rem;
}

.dn-headline-2 {
  font-size: 0.8rem !important;
}

.maintext, ion-title, ion-card-title {
  font-size: 1rem;
}

.subtext, ion-card-subtitle {
  font-size: 12px !important;
}

ion-searchbar {
  padding: 0 !important;
  --background: var(--ion-color-light) !important;
}

ion-button {
  --background: var(--ion-color-secondary);
  text-transform: none;
  --box-shadow: none;
}

ion-badge {
  --padding-top: 5px;
  --padding-bottom: 5px;
  --padding-start: 10px;
  --padding-end: 10px;
}

ion-list-header {
  padding-left: 0;

  ion-label {
    font-weight: 500;
  }
}

ion-list ion-item:nth-child(even) {
  --background: #f2f2f2 !important;
}

.mat-form-field {
  width: 100%;
}

.mat-tab-group {
  margin-bottom: 48px;
}

//ion-card {
//  box-shadow: none !important;
//}
