<ion-list [formGroup]="myForm" class="margin-top-30">
	<div [formArrayName]="formArray">
		<ion-list-header>
			<ion-label>{{title}}</ion-label>
		</ion-list-header>
		<ion-item *ngFor="let item of getControls(); let i = index">
			<ion-label>{{checkboxen[i]}}</ion-label>
			<ion-checkbox (ionChange)="outputMyForm({'myForm': myForm, 'controlName': controlname})"
						  [formControlName]="i"
						  disabled="{{disabled}}" slot="start"></ion-checkbox>
		</ion-item>
	</div>
</ion-list>
