<ion-app>
	<ion-split-pane contentId="main-content">
		<ion-menu contentId="main-content" type="overlay">
			<ion-header>
				<ion-toolbar color="primary">
					<ion-title *ngIf="!USER.email" class="ion-padding-start">Menü</ion-title>
					<ion-title *ngIf="USER.email" class="ion-padding-start">
						<span class="subtext">Guten Tag, <br></span>
						<span>{{USER.email}}</span>
					</ion-title>
				</ion-toolbar>
			</ion-header>

			<ion-content class="ion-no-padding">
				<ion-list>
					<ion-menu-toggle auto-hide="false">
						<ion-item *ngFor="let p of menuLinks" [routerDirection]="'root'" [routerLink]="[p.url, p.id]">
<!--							<ion-icon slot="start" [name]="p.icon"></ion-icon>-->
							<ion-label>{{p.title}}</ion-label>
						</ion-item>

						<ion-item *ngIf="!USER.email" [routerLink]="[ROUTES.login]">
<!--							<ion-icon slot="start" name=""></ion-icon>-->
							<ion-label>Anmelden</ion-label>
						</ion-item>
						<ion-item *ngIf="USER.email" (click)="signOut()">
<!--							<ion-icon slot="start" name=""></ion-icon>-->
							<ion-label>Abmelden</ion-label>
						</ion-item>
					</ion-menu-toggle>
				</ion-list>
			</ion-content>
		</ion-menu>
		<ion-router-outlet id="main-content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>
