<ion-header>
	<ion-toolbar color="primary">
		<ion-title class="ion-text-center">Infotext</ion-title>
		<ion-icon (click)="dismiss()" name="close" slot="end" class="ion-padding" font-size-1-7>Close</ion-icon>
	</ion-toolbar>
</ion-header>

<ion-content>
	<p [innerHTML]="showContentText"></p>
</ion-content>
