<comp-header [title]="{gross: 'Auszahlungen'}"
			 [showMenuBurger]="true">
</comp-header>

<ion-content>
	<ng-container *ngFor="let auftrag of auftraege">
		<ion-item *ngFor="let auszahlung of auftrag.auszahlungen"
				  (click)="goToTest(auftrag)">
			<ion-label>
				<div>{{auftrag.email}}</div>
				<div class="d-flex-column subtext">
					<span>{{auszahlung.apothekenName}} </span>
					<span>({{auszahlung.krankheitsId}})</span>
				</div>
			</ion-label>
			<ion-icon *ngIf="auftrag.genehmigungsStatus === 'beantragt'"
					  name="ellipse" color="secondary" size="small" slot="end">
			</ion-icon>
			<ion-icon *ngIf="auftrag.genehmigungsStatus === 'erledigt'"
					  name="checkmark-done-outline" color="success" size="small" slot="end">
			</ion-icon>
		</ion-item>
	</ng-container>

	<comp-icon-big *ngIf="showKeinTreffer"
				   [iconName]="'alert'"
				   [showText]="'Keine Auszahlungsanträge'">
	</comp-icon-big>
</ion-content>
