<mat-form-field [formGroup]="myForm">
	<mat-label>{{label}}</mat-label>
	<input formControlName="{{controlname}}"
		   [type]="hide ? 'password' : 'text'"
		   matInput
		   placeholder="Passwort eingeben"
		   required>
	<i (click)="hide = !hide" class="material-icons" matSuffix>
		{{hide ? 'visibility_off' : 'visibility'}}
	</i>
</mat-form-field>
