<ion-content class="ion-padding">
	<ion-slides [options]="slideOpts"
				[pager]="true"

				(ionSlideReachEnd)="endIsReached()" >
		<ion-slide *ngFor="let i of [1,2,3,4,5,6]">
			<div class="slide">
				<img src="assets/startslider/{{i}}.png"/>
			</div>
		</ion-slide>
	</ion-slides>
	<comp-button *ngIf="showButton" (click)="goToPage(ROUTES.customerTab1)"
				 [text]="'Weiter'">
	</comp-button>
	<ion-item>
		<ion-label>Intro nicht wieder anzeigen</ion-label>
		<ion-checkbox (ionChange)="checkbox($event.target.checked)" slot="start"></ion-checkbox>
	</ion-item>
</ion-content>
