<ion-chip [color]="bilder.length === maximum ? 'success' : 'danger'"
		  [class.pulse]="bilder.length === maximum">
	<ion-icon name="photos"></ion-icon>
	<ion-label>{{bilder.length}}/{{maximum}}</ion-label>
</ion-chip>
