<ion-item *ngIf="showSubmitButton" class="d-flex-center" margin-top-bottom-20 lines="none">
	<div *ngIf="!isBrowser && !isImageLimitAchieved()"
		 (click)="addImageInNativePlatform(undefined)" class="circle-button-icon">
		<ion-icon name="camera" style="color:white"></ion-icon>
	</div>
	<div *ngIf="!isBrowser && !isImageLimitAchieved()"
		 (click)="addImageInNativePlatform('PHOTOLIBRARY')" class="circle-button-icon margin-left-5">
		<ion-icon name="albums-outline" style="color:white"></ion-icon>
	</div>
	<div *ngIf="isBrowser && !isImageLimitAchieved()" (click)="fileInput.click()" class="circle-button-icon">
		<ion-icon name="camera" style="color:white"></ion-icon>
	</div>
	<input #fileInput (change)="addImageOnWebBrowser($event)" type="file" accept=".png,.jpg" hidden>
	<comp-imageuploadindex [bilder]="produktBilder"
						   [maximum]="maximumImages" slot="end" class="ion-text-center">
	</comp-imageuploadindex>
</ion-item>
<ion-item *ngIf="produktBilder.length" lines="none">
	<ion-slides [options]="slideOpts">
		<ng-container *ngFor="let produktBild of produktBilder.reverse(); let i = index;">
			<ion-slide>
				<div class="d-flex-column-center">
<!--					<img [src]="produktBild.base64" imageViewer class="loading-image">-->
					<image-zoom-component *ngIf="produktBild.base64"
										  [imgUrl]="produktBild.base64"
										  [firma]=""
										  [email]=""
										  [cssClasses]="'imageViewer loading-image'">
					</image-zoom-component>
					<ion-icon *ngIf="showSubmitButton" (click)="deleteImage(produktBild.base64)" name="trash"></ion-icon>
				</div>
			</ion-slide>
		</ng-container>
	</ion-slides>
</ion-item>
<ion-item *ngIf="showSubmitButton && showImageAmountHint" lines="none">
	<ion-label color="danger">Bitte Bilder hochladen</ion-label>
</ion-item>
