@import '../apotest24/src/global';

.swiper-container {
  width: 100%;
  background-color: var(--ion-color-light);
  border: 2px dashed var(--ion-color-medium);
  padding: 10px;
  height: 160px;

  img {
    object-fit: cover;
    width: 115px;
    height: 100px;
  }
}

[name=trash] {
  align-self: center;
  padding: 3px;
  margin-top: 5px;
  font-size: 1.5rem;
  @extend .box-shadow;
  @include circle(20px);
  color: white;
  background: var(--ion-color-primary);
}

:host(.photo-button) {
  .button-native {
    background: blue !important;
  }
}
