<ion-list [formGroup]="myForm">
	<ion-list-header>
		<ion-label>{{title}} <star *ngIf="required"></star></ion-label>
	</ion-list-header>

	<ion-radio-group (ionChange)="outputMyForm({'myForm': myForm, 'controlName': controlname})"
					 formControlName="{{controlname}}" class="d-flex-around width-100">
		<ion-item *ngFor="let item of radioItems; let i = index">
			<div class="d-flex-column-center">
				<ion-label class="margin-bottom-5">{{i + 1}}</ion-label>
				<ion-radio value="{{i + 1}}" disabled="{{disabled}}"></ion-radio>
			</div>
		</ion-item>
	</ion-radio-group>
</ion-list>
