<ion-header>
	<ion-toolbar color="primary">
		<ion-title class="ion-text-center">Feedbacks</ion-title>
		<ion-icon (click)="dismiss()" name="close" slot="end" class="ion-padding" font-size-1-7>Close</ion-icon>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item *ngFor="let item of feedbacks; let i = index;">
			<ion-label>{{i + 1}}. {{item}}</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
