<comp-header [title]="{gross: 'Profil'}"
             [showMenuBurger]="true">
</comp-header>

<ion-content>
	<div class="grid-container">
		<div>
			<div class="bold font-size-1">
				Apotheker
			</div>
		</div>

		<div>
			<div class="bold font-size-1">
				Alle Aufträge
			</div>
		</div>
	</div>
</ion-content>
