.grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;

  > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    width: 45%;
    margin: 5px;
    text-align: center;
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  }
}
