<comp-header [title]="{gross: email}"
			 [showBackButton]="true">
</comp-header>

<ion-content>
	<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
		<mat-form-field *ngFor="let item of formPersonalData" class="example-full-width">
			<mat-label>{{item.label}}</mat-label>
			<input [formControlName]="item.control"
				   [readonly]="item.readOnly"
				   [placeholder]="item.placeholder"
				   matInput>
		</mat-form-field>

		<div class="margin-top-30">
			<comp-formbutton [myForm]="myForm" [buttonText]="'Senden'"></comp-formbutton>
		</div>
	</form>
</ion-content>
