<comp-header [title]="{gross: 'Mitarbeiterübersicht'}"
             [showHomeIcon]="true"
             [showMenuBurger]="true"
			 [themeColor]="'success'">
</comp-header>

<ion-content>
	<comp-card *ngFor="let item of mitarbeiter"
			   (click)="goToAuftraegePage(item.name)"
			   [title]="item.name"
			   [subTitle]="'Durchgeführte Tests'"
			   [amount]="item.anzahlMitarbeiterTest"
			   [isDeactive]="item.anzahlMitarbeiterTest === 0"
			   [themeColor]="'success'">
	</comp-card>
</ion-content>
