<ion-fab vertical="{{vertical}}"
		 horizontal="{{horizontal || 'end'}}"
		 slot="fixed" class="fab-create">
	<ion-fab-button color="{{bgColor}}" [class.opacity-0-6]="showOpacity">
		<ion-icon name="{{icon}}" color="{{color}}"></ion-icon>
	</ion-fab-button>
</ion-fab>
