<comp-header [title]="{gross: 'Alle Tester'}"
			 [showBackButton]="true">
</comp-header>

<ion-content>
	<ion-list>
		<ion-item *ngFor="let tester of alleTester" (click)="goToTester(tester.email)">
			<ion-label>{{tester.email}}</ion-label>
		</ion-item>
	</ion-list>
</ion-content>
