<comp-header [title]="{gross: 'Tester von ' + title}"
			 [showHomeIcon]="true"
			 [showBackButton]="true">
</comp-header>

<ion-content>
<!--	<ion-item-group *ngFor="let letter of anfangsbuchstaben">-->
<!--		<ion-item-divider color="light">-->
<!--			<ion-label>{{letter.toUpperCase()}}</ion-label>-->
<!--		</ion-item-divider>-->

<!--		<ng-container *ngFor="let tester of auftraege">-->
<!--			<ion-item *ngIf="tester.email.startsWith(letter)"-->
<!--					  (click)="goToTest(tester)">-->
<!--				<ion-label>-->
<!--					<div>{{tester.email}}</div>-->
<!--					<ion-note>{{tester.apothekenname}}</ion-note>-->
<!--				</ion-label>-->
<!--				<ion-icon *ngIf="tester.anzahlOffenerTest > 0"-->
<!--						  name="ellipse" color="secondary" size="small" slot="end">-->
<!--				</ion-icon>-->
<!--			</ion-item>-->
<!--		</ng-container>-->
<!--	</ion-item-group>-->

	<ion-item *ngFor="let tester of auftraege" (click)="goToTest(tester)">
		<ion-label>
			<div>{{tester.data.email}}</div>
			<ion-note>{{tester.data.apothekenname}}</ion-note>
			<div>
				<ion-note>({{ date.transform(tester.data.datum) }})</ion-note>
			</div>
		</ion-label>
		<ion-icon *ngIf="tester.data.genehmigungsStatus === 'inpruefung'"
				  name="ellipse" color="secondary" size="small" slot="end">
		</ion-icon>
		<ion-icon *ngIf="tester.data.genehmigungsStatus === 'abgelehnt'"
				  name="hand-left-outline" color="secondary" size="small" slot="end">
		</ion-icon>
		<ion-icon *ngIf="tester.data.genehmigungsStatus === 'offen'"
				  name="checkmark-outline" color="secondary" size="small" slot="end">
		</ion-icon>
		<ion-icon *ngIf="tester.data.genehmigungsStatus === 'erledigt'"
				  name="checkmark-done-outline" color="success" size="small" slot="end">
		</ion-icon>
	</ion-item>

	<comp-icon-big *ngIf="showKeinTreffer"
				   [iconName]="'alert'"
				   [showText]="'Noch keine Tests'">
	</comp-icon-big>
</ion-content>
