<comp-header
		[title]="{gross: GLOBAL.MenuPages['anleitung']['title']}"
		[showHomeIcon]="true"
		[showBackButton]="true">
</comp-header>

<ion-content>
	<div [innerHTML]="GLOBAL.MenuPages['anleitung']['content']"></div>
</ion-content>
