<ion-searchbar #searchbar
               placeholder="Suche nach Apotheke"
               showCancelButton="focus"
               cancelButtonText="Custom Cancel">
</ion-searchbar>

<agm-map (mapClick)="getCoordinates($event)"
         (mapReady)="mapReady($event)"
         [latitude]="latitude"
         [longitude]="longitude"
         [zoom]="zoom">
</agm-map>
<!--	[mapTypeId]='mapType'-->
