agm-map {
  height: 75vh;
}

#map .gm-style-iw {
  background-color: #252525;
  padding: 2% 11%;
}
#map .iw-content p {
  color: #a5a5a5;
}
#map .iw-subTitle {
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 0;
}

/*style the box which holds the text of the information window*/
.gm-style .gm-style-iw {
  background-color: #252525 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  min-height: 120px !important;
  padding-top: 10px;
  display: block !important;
}

/*style the paragraph tag*/
.gm-style .gm-style-iw #google-popup p {
  padding: 10px;
}


/*style the annoying little arrow at the bottom*/
.gm-style div div div div div div div div {
  background-color: #252525 !important;
  margin: 0;
  padding: 0;
  top: 0;
  color: #fff;
  font-size: 16px;
}

/*style the link*/
.gm-style div div div div div div div div a {
  color: #f1f1f1;
  font-weight: bold;
}
