/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "theme/_mixins";

.page-font-color {
  //color: var(--ion-color-primary);
}

[dn-color-primary], .dn-color-primary {
  color: var(--ion-color-primary) !important
}

[dn-color-secondary], .dn-color-secondary {
  color: var(--ion-color-secondary) !important
}

[dn-color-tertiary], .dn-color-tertiary {
  color: var(--ion-color-tertiary) !important
}

[dn-color-medium], .dn-color-medium {
  color: var(--ion-color-medium) !important
}

[dn-color-dark], .dn-color-dark {
  color: var(--ion-color-dark) !important
}
.dn-color-white {
  color: var(--ion-color-white) !important
}

.dn-bgcolor-primary {
  background: var(--ion-color-primary) !important
}
.dn-bgcolor-secondary {
  background: var(--ion-color-secondary) !important
}
.dn-bgcolor-medium {
  background: var(--ion-color-medium) !important
}
.dn-bgcolor-grey {
  background: #484848;
}
.dn-bgcolor-success {
  background: var(--ion-color-success) !important;
}
.dn-bgcolor-orange {
  background: var(--ion-color-orange) !important;
}
.dn-bgcolor-hell-primary {
  background: #9dbae5 !important
}
.dn-bgcolor-hell-success {
  background: #8ee6cb !important;
}
.dn-bgcolor-hell-orange {
  background: #edaba1 !important;
}

.dn-bordercolor-primary {
  border-color: var(--ion-color-primary) !important;
}
.dn-bordercolor-success {
  border-color: var(--ion-color-success) !important;
}
.dn-bordercolor-orange {
  border-color: var(--ion-color-orange) !important;
}

// STATUS FARBEN
.inpruefung {
  background: var(--ion-color-secondary);
}
.offen {
  background: #afcb00;
}
.abgelehnt {
  background: #E07E1D;
}
.beantragt {
  background: #B5C91C;
}
.erledigt {
  background: #CECECE;
}

// ENDE STATUS FARBEN

[dn-color-danger], .dn-color-danger {
  color: var(--ion-color-danger) !important
}

.font-size-0-5 {
  font-size: 0.5rem !important;
}

.font-size-0-6 {
  font-size: 0.6rem !important;
}

.font-size-0-7 {
  font-size: 0.7rem !important;
}

[font-size-0-8], .font-size-0-8 {
  font-size: 0.8rem !important;
}

[font-size-0-9], .font-size-0-9 {
  font-size: 0.9rem !important;
}

[font-size-1], .font-size-1 {
  font-size: 1rem !important;
}

[font-size-1-1], .font-size-1-1 {
  font-size: 1.1rem !important;
}

[font-size-1-2], .font-size-1-2 {
  font-size: 1.2rem !important;
}

[font-size-1-3], .font-size-1-3 {
  font-size: 1.3rem !important;
}

[font-size-1-5], .font-size-1-5 {
  font-size: 1.5rem !important;
}

[font-size-1-7], .font-size-1-7 {
  font-size: 1.7rem !important;
}

[font-size-2], .font-size-2 {
  font-size: 2rem !important;
}

[font-size-2-3], .font-size-2-3 {
  font-size: 2.3rem !important;
}

[font-size-2-5], .font-size-2-5 {
  font-size: 2.5rem !important;
}

.d-flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.d-flex-center {
  @extend .flex-center;
  justify-content: center;
}

.d-flex-align-center {
  @extend .flex-center;
}

.d-flex-end-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.d-flex-end {
  @extend .flex-center;
  justify-content: flex-end;
}

.d-flex-start {
  @extend .flex-center;
  justify-content: flex-start;
}

.d-flex-between {
  @extend .flex-center;
  justify-content: space-between;
}

.d-flex-around {
  @extend .flex-center;
  justify-content: space-around;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}


[autosuggest] .item:nth-child(even) {
  --background: var(--ion-color-tertiary);
}

[delete-icon] {
  position: absolute;
  right: 0;
  color: var(--ion-color-secondary);
  background: rgba(10, 10, 10, 0.4);
  padding: 15px;
  font-size: 1.8rem;
  border-radius: 0 0 0 15px;
}

[margin-left-right-auto] {
  margin-left: auto;
  margin-right: auto;
}

[border-bottom] {
  border-bottom: 1px solid;
}

.no-border-bottom {
  border-bottom: 0 !important;
}


.box-shadow {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16), 0 1px 5px rgba(0, 0, 0, 0.23);
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

[box-shadow] {
  @extend .box-shadow;
}

.dn-bild-logo-90 {
  width: 90px !important;
  height: 90px !important;
  object-fit: cover;
  @extend .box-shadow;
}

[dn-bild-logo-60] {
  width: 60px !important;
  height: 60px !important;
  object-fit: cover;
  @extend .box-shadow;
}

[imageViewer] {
  background: url('/assets/loading.gif') 50% no-repeat !important;
  @extend .box-shadow;
}

[dn-image] {
  width: 100vw !important;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
  @extend .box-shadow;
}

.circle-button-icon {
  @include circle(50px);
  @extend .d-flex-center;
  background: var(--ion-color-primary);

  ion-icon {
    font-size: 1.5rem;
  }
}

[dn-circle-50] {
  @include circle(50px)
}
.dn-circle-150 {
  @include circle(150px)
}
[dn-circle-200], .dn-circle-200 {
  @include circle(200px)
}

[dn-ellipsis-2] {
  @include ellipsis(2);
}

[dn-ellipsis-5] {
  @include ellipsis(5);
}

[dn-ellipsis] {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

[dn-text-wrap-normal] {
  white-space: normal !important;
}
.no-wrap {
  white-space: nowrap !important;
}

a {
  text-decoration: none;
  color: var(--ion-color-dark);
}

.bold {
  font-weight: bold;
}

.font-weight-5 {
  font-weight: 500;
}

[max-height-60] {
  max-height: 60px !important;
  width: auto;
}

.opacity-0-7 {
  opacity: 0.7;
}

.opacity-0-6 {
  opacity: 0.6;
}

/**** M A R G I N S  &  P A D D I N G S ******************/
[width-auto] {
  width: auto;
}

.width-100 {
  width: 100%;
  max-width: 100%;
}

[height-100] {
  height: 100%
}

[margin-5] {
  margin: 5px
}

.margin-top-5 {
  margin-top: 5px !important
}

.margin-top-10 {
  margin-top: 10px !important
}

[margin-top-15] {
  margin-top: 15px !important
}

[margin-top-20] {
  margin-top: 20px !important
}

.margin-top-30 {
  margin-top: 30px !important
}

.margin-top-60 {
  margin-top: 60px !important
}

.margin-bottom-5 {
  margin-bottom: 5px !important
}

[margin-bottom-10] {
  margin-bottom: 10px
}

[margin-bottom-15] {
  margin-bottom: 15px
}

[margin-bottom-20] {
  margin-bottom: 20px
}

[margin-right-3] {
  margin-right: 3px !important
}

.margin-right-5 {
  margin-right: 5px !important
}

[margin-right-10] {
  margin-right: 10px !important
}

[margin-right-20] {
  margin-right: 20px !important
}

.margin-left-5 {
  margin-left: 5px !important
}

[no-margin-top] {
  margin-top: 0 !important
}

[no-padding-top] {
  padding-top: 0 !important
}

[no-margin-bottom] {
  margin-bottom: 0
}

[no-padding-bottom] {
  padding-bottom: 0
}

[padding-left-right] {
  padding: 0 16px !important
}

.padding-top-35 {
  padding-top: 35px !important;
}
.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

[padding-8] {
  --padding-bottom: 8px;
  --padding-end: 8px;
  --padding-start: 8px;
  --padding-top: 8px;
}

.margin-top-bottom-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.margin-top-bottom-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

[margin-top-bottom-20] {
  margin-top: 20px;
  margin-bottom: 20px;
}

[margin-right-left-5] {
  margin-right: 5px;
  margin-left: 5px;
}

[no-margin-padding] {
  margin: 0;
  padding: 0;
}

[no-margin-padding-top] {
  margin-top: 0;
  padding-top: 0;
}

[no-margin-padding-top-bottom] {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

text-capitalize {
  text-transform: capitalize;
}

[p-relative] {
  position: relative;
}

[p-absolute] {
  position: absolute !important;
}

[left-0] {
  left: 0 !important;;
}

[right-0] {
  right: 0 !important;;
}

[underline] {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

// ANIMATION

.scale-animation {
  animation: bigger 0.7s;
  animation-iteration-count: 2;
}

@keyframes bigger {
  0% {
    transform: scale(1) translate(0, 0);
  }
  25% {
    transform: scale(1.2) translate(0, -2px);
  }
  50% {
    transform: scale(1.5) translate(0, -4px);
  }
  75% {
    transform: scale(1.2) translate(0, -2px);
  }
  85% {
    transform: scale(1.1) translate(0, -1px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

[label-no-ellipsis] {
  white-space: normal !important;
  min-width: 50% !important;
}

.link-button {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-tertiary);
  padding: 9px;
  border-radius: 3px;
}

ion-fab-button {
  height: 40px;
  width: 40px;
  margin: 5px;
}

.badge-favorit {
  padding: 2px 3px;
  background: var(--ion-color-secondary);
  color: var(--ion-color-dark);
  font-size: 10px !important;
  position: absolute;
  right: 8px;
  bottom: 4px;
}

.pulse {
  animation: pulse 1s ease-out 0s alternate 3 none running;
  //animation: pulse 1.5s ease-out 0s alternate infinite none running;
  //animation-name: stretch;
  //animation-duration: 1.5s;
  //animation-timing-function: ease-out;
  //animation-delay: 0s;
  //animation-direction: alternate;
  //animation-iteration-count: infinite;
  //animation-fill-mode: none;
  //animation-play-state: running;
}

@keyframes pulse {
  0% {
    transform: scale(.5);
  }
  100% {
    transform: scale(1.2);
  }
}

.hidden {
  display: none !important;
}

.opacity-0 {
  opacity: 0;
}

[readonly] {
  color: var(--ion-color-medium) !important;
}

.loading-image {
  background-image: url("/assets/loading.gif");
  background-size: contain;
  background-position: 0px 5px;
  background-repeat: no-repeat;
}

ion-toast.success {
  --background: var(--ion-color-secondary);
}

ion-toast.error {
  --background: var(--ion-color-danger);
}


.border-valid {
  outline: 4px solid #04C638;
  border-radius: 4px;
}
.border-invalid {
  border: 2px solid #A0A0A0;
  border-radius: 4px;
}

.border {
  border: 1px solid var(--ion-color-dark);
}
.border-2 {
  border: 2px solid var(--ion-color-dark);
}
.border-3 {
  border: 3px solid var(--ion-color-dark);
}


.border-head {
  border: 2px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.border-under {
  border: 1px solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.meldung {
  border: 1px solid var(--ion-color-secondary);
  color: var(--ion-color-secondary);
  background: yellow;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

h5 {
  font-size: 1.1rem;
  margin-top: 0;
}
h6 {
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 5px;
}

