<comp-header
		[title]="{gross: 'Ihr Dashboard'}"
		[showHomeIcon]="false"
		[showMenuBurger]="true"
		[anleitungsText]="'apotheker_dashboard'"
		[isAnleitungsText]="true">
</comp-header>

<ion-content>
	<div class="grid-container margin-top-60">

		<div class="item-1 d-flex-column-center padding-top-35">
			<ion-avatar *ngIf="isBrowser" (click)="fileInput.click()" slot="start" class="dn-bild-logo-90 ion-activatable ripple-parent">
				<ion-ripple-effect></ion-ripple-effect>
				<img [src]="imgUrl">
				<input #fileInput type="file" (change)="addImageOnWebBrowser($event)" accept=".png,.jpg" hidden>
			</ion-avatar>
			<ion-avatar *ngIf="!isBrowser" (click)="addImageInNativePlatform(null)" slot="start"
						class="dn-bild-logo-90 ion-activatable ripple-parent">
				<ion-ripple-effect></ion-ripple-effect>
				<img [src]="imgUrl">
			</ion-avatar>
			<div class="padding-top-3ionic serve5">{{vorname}} {{nachname}}</div>
			<div class="subline">{{email}}</div>
		</div>

		<div (click)="goToPage('tab-button-apotheker/tab3')" class="item-2 d-flex-column-center ion-activatable ripple-parent">
			<ion-ripple-effect></ion-ripple-effect>
			<ion-icon src="/assets/icon/dashboard/team.svg"></ion-icon>
			<div>Mitarbeiter</div>
			<div class="subline">Auswertung der Leistungen Ihrer Mitarbeiter</div>
		</div>

		<div (click)="goToPage('tab-button-apotheker/tab2')" class="item-3 d-flex-column-center ion-activatable ripple-parent">
			<ion-ripple-effect></ion-ripple-effect>
			<ion-icon src="/assets/icon/dashboard/apotheken.svg"></ion-icon>
			<div>Apotheken</div>
			<div class="subline">Auswertung der Leistungen Ihrer Apotheken</div>
		</div>

		<div (click)="goToPage('tab-button-apotheker/tab1')" class="item-4 d-flex-column-center ion-activatable ripple-parent">
			<ion-ripple-effect></ion-ripple-effect>
			<ion-icon src="/assets/icon/dashboard/themen.svg"></ion-icon>
			<div>Themen</div>
			<div class="subline">Auswertung der Leistungen nach Testthemen</div>
		</div>

		<div [routerLink]="[ROUTES.apoAnleitung]" class="item-5 d-flex-column-center ion-activatable ripple-parent">
			<ion-ripple-effect></ion-ripple-effect>
			<ion-icon src="/assets/icon/dashboard/fragen.svg"></ion-icon>
			<div>Anleitung</div>
			<div class="subline">Herstellung zu Ihrem persönlichen Mitgliederbereich</div>
		</div>

		<div [routerLink]="[ROUTES.apoProfil]" class="item-6 ion-activatable ripple-parent">
			<ion-ripple-effect></ion-ripple-effect>
			<div class="d-flex-center">
				<div style="width: 30%">
					<ion-icon src="/assets/icon/dashboard/profil.svg"></ion-icon>
				</div>
				<div class="ion-text-start">
					<div>Profilinformationen</div>
					<div class="subline">Sehen Sie in einer Übersicht die Details Ihres Profits
						und der bisherigen App-Historie.
					</div>
				</div>
			</div>
		</div>

	</div>
</ion-content>
