@import '../apotest24/src/global';

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
  color: var(--ion-color-primary);

  > div {
    text-align: center;
    padding: 10px;
    @extend .box-shadow;
  }

  .subline {
    font-size: 0.8rem;
    color: var(--ion-color-tertiary);
  }

  ion-avatar {
    position: absolute !important;
    top: 25px;
    background: white;
  }

  ion-icon {
    font-size: 1.2rem;
  }

  .item-2, .item-3, .item-4, .item-5 {
    min-width: 50%;
  }

  .item-1, .item-6 {
    grid-column: 1 / 3;
  }

  [class*="item-"] {
    border-radius: 5px;

    div {
      padding: 3px 0;
    }
  }
}
