<ion-button type="submit"
            [disabled]="myForm.invalid"
            [color]="color"
            expand="block"
            class="ion-activatable">{{buttonText}}
  <ion-ripple-effect></ion-ripple-effect>
</ion-button>
