<comp-header [title]="{klein: apothekenName, gross: headerTitle}"
			 [showHomeIcon]="true"
			 [showBackButton]="!wurdeFormularAbgeschickt && true"
			 [showConfirmation]="true"
			 [anleitungsText]="subtitle"
			 [isAnleitungsText]="false">
</comp-header>

<ion-content [scrollEvents]="true"
			 (ionScroll)="scrollEvent($event)"
			 class="ion-no-padding ion-padding-top">

	<ion-item *ngIf="wurdeFormularAbgeschickt" lines="none">
		<div class="d-flex-column">
			<ion-note class="ion-text-center">Sie werden in 10 Sek zurückgeleitet</ion-note>
			<comp-icon-big *ngIf="true"
						   [iconName]="'checkmark'"
						   [color]="'dn-color-secondary'"
						   [showText]="'Auftrag erfolgreich durchgeführt'">
			</comp-icon-big>
			<div>
				Vielen Dank für die Abgabe des Tests.
				Sobald wir deine Angaben geprüft und bestätigt haben,
				wird dein Verdienst gutgeschrieben.
				Du kannst diesen Test - je nach Verfügbarkeit - frühestens in
				<strong>48&nbsp;Stunden</strong> erneut durchführen.
			</div>
		</div>
	</ion-item>
	<ion-grid *ngIf="!wurdeFormularAbgeschickt">
		<ion-row>
			<ion-col size-md="8" offset-md="2">
				<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
					<ng-container *ngFor="let el of formElements">
						<div *ngIf="el.typ == 'radio' && el.showIsKauf !== false"
							 [ngClass]="formControls[el.title] ? 'border-valid' : 'border-invalid'"
							class="margin-top-bottom-10 ion-padding">
							<comp-formradio [myForm]="myForm"
											[controlname]="el.title"
											[required]="el.required"
											[title]="el.titleIndividuell ? el.titleIndividuell : formTitle[el.title]"
											[radioItems]="el.subtyp === 'janein' ? jaNein :
														  el.subtyp == 'geschlecht' ? geschlecht :
														  el.subtyp == 'apotheke' ? el.apotheken : ''"
											[disabled]="false"
											[isKaufentscheidung]="el.title === 'radio_kaufentscheidung'"
											(myEventEmitted2)="setCorrectBorderColor($event)"
											(myEventEmitted)="gabEsEinenKauf($event)">
							</comp-formradio>
						</div>
						<div *ngIf="el.typ == 'checkbox'"
							 [ngClass]="formControls[el.title] ? 'border-valid' : 'border-invalid'"
							 class="margin-top-bottom-10 ion-padding">
							<comp-formcheckbox [myForm]="myForm"
											   [controlname]="el.title"
											   [formArray]="el.formarray"
											   [title]="el.titleIndividuell ? el.titleIndividuell : formTitle[el.title]"
											   [checkboxen]="el.checkboxen"
											   [disabled]="false"
											   (myEventEmitted)="setCorrectBorderColor($event)">
							</comp-formcheckbox>
						</div>
						<div *ngIf="el.typ == 'skala'"
							 [ngClass]="formControls[el.title] ? 'border-valid' : 'border-invalid'"
							 class="margin-top-bottom-10 ion-padding">
							<comp-formradioskala [myForm]="myForm"
												 [controlname]="el.title"
												 [required]="el.required"
												 [title]="el.titleIndividuell ? el.titleIndividuell : formTitle[el.title]"
												 [radioItems]="skalaSize"
												 [disabled]="false"
												 (myEventEmitted)="setCorrectBorderColor($event)">
							</comp-formradioskala>
						</div>
						<div *ngIf="el.typ == 'textarea'"
							 [ngClass]="formControls[el.title] ? 'border-valid' : 'border-invalid'"
							 class="margin-top-bottom-10 ion-padding">
							<comp-formtextarea [myForm]="myForm"
											   [controlname]="el.title"
											   [required]="el.required"
											   [title]="el.titleIndividuell ? el.titleIndividuell : formTitle[el.title]"
											   [placeholder]="el.placeholder"
											   [rows]="el.rows ? el.rows : 4"
											   [minLength]="el.minLength ? el.minLength : 0"
											   [maxLength]="el.maxLength ? el.maxLength : 100"
											   [readonly]="false"
											   (myEventEmitted)="setCorrectBorderColor($event)">
							</comp-formtextarea>
						</div>
						<div *ngIf="el.typ == 'input' && el.showIsKauf !== false"
							 [ngClass]="formControls[el.title] ? 'border-valid' : 'border-invalid'"
							 class="margin-top-bottom-10 ion-padding">
							<comp-forminput [myForm]="myForm"
											[controlname]="el.title"
											[required]="el.required"
											[title]="el.titleIndividuell ? el.titleIndividuell : formTitle[el.title]"
											[title2]="el.title"
											[subtyp]="el.subtyp"
											[placeholder]="el.placeholder"
											[minLength]="el.minLength ? el.minLength: 1"
											[maxLength]="el.maxLength ? el.maxLength: 50"
											[readonly]="false"
											(myEventEmitted)="setCorrectBorderColor($event)">
							</comp-forminput>
						</div>

						<!-- P H O T O  S C H I E ß E N -->
						<div *ngIf="el.typ == 'photo' && el.showIsKauf !== false"
							 [ngClass]="!showImageAmountHint[el.subtyp]  ? 'border-valid' : 'border-invalid'"
							 class="margin-top-bottom-10 ion-padding">
							<ion-list>
								<ion-list-header margin-bottom-10>
									<ion-label>
										{{el.titleIndividuell ? el.titleIndividuell.replace('#', el.maxPhotos) : formTitle[el.title].replace('#', el.maxPhotos)}}
										<star *ngIf="true"></star>
									</ion-label>
								</ion-list-header>
								<comp-photobutton
										(myEventEmitted)="outputProduktBilder($event, el.subtyp)"
										[produktBilder]="[]"
										[maximumImages]="el.maxPhotos"
										[subtyp]="el.subtyp"
										[showImageAmountHint]="showImageAmountHint[el.subtyp]"
										[showSubmitButton]="true">
								</comp-photobutton>
							</ion-list>
						</div>

						<!-- M I T A R B E I T E R -->
						<div *ngIf="el.typ == 'select' && mitarbeiter.length > 0"
							 [ngClass]="formControls[el.title] ? 'border-valid' : 'border-invalid'"
							  class="margin-top-bottom-10 ion-padding">
							<ion-list>
								<ion-list-header><ion-label>{{formTitle[el.title]}}</ion-label></ion-list-header>
								<ion-select [formControlName]="el.title"
											(ionChange)="setCorrectBorderColor({'myForm': myForm, 'controlName': el.title})"
											placeholder="Mitarbeiter auswählen"
											[required]="el.required"
											interface="popover">
									<ion-select-option value="unbekannt">Unbekannt</ion-select-option>
									<ion-select-option *ngFor="let item of mitarbeiter" value="{{item}}">{{item}}</ion-select-option>
								</ion-select>
							</ion-list>
						</div>

					</ng-container>

					<!-- S E N D E N -->
					<div *ngIf="showSubmitButton" class="margin-top-30">
						<comp-formbutton [myForm]="myForm" [buttonText]="'Senden'"></comp-formbutton>
					</div>
				</form>
			</ion-col>
		</ion-row>
	</ion-grid>

	<comp-scrolltop [scrollHeight]="scrollHeight" [content]="content"></comp-scrolltop>

</ion-content>

