<ion-list [formGroup]="myForm">
	<ion-radio-group formControlName="{{controlname}}"
					 (ionChange)="kaufentscheidung($event); outputMyForm({'myForm': myForm, 'controlName': controlname})">
		<ion-list-header>
			<ion-label>{{title}} <star *ngIf="required">*</star></ion-label>
		</ion-list-header>
		<ion-item *ngFor="let item of radioItems">
			<ion-label>{{item.label}}</ion-label>
			<ion-radio slot="start" value="{{item.value}}" disabled="{{disabled}}"></ion-radio>
		</ion-item>
	</ion-radio-group>
</ion-list>
