::ng-deep {
  .mat-tab-label, .mat-tab-link {
    //color: var(--ion-color-primary);
  }

  .mat-ink-bar {
    background-color: var(--ion-color-medium) !important;
  }
  .mat-badge-content {
    background: white;
    border: 2px solid var(--ion-color-dark) ;
    color: var(--ion-color-dark);
    font-weight: bolder;
  }
}
