<comp-header *ngIf="['TAB1','TAB3'].includes(comeFrom)"
			 [title]="{klein: title === 'Allgemeine Auswertung' ? '' : 'Auswertung', gross: title}"
			 [showHomeIcon]="true"
			 [showBackButton]="true"
			 [themeColor]="themeColor">
</comp-header>

<comp-header *ngIf="comeFrom === 'TAB2'"
			 [title]="{klein: apothekenName, gross: title}"
			 [showHomeIcon]="true"
			 [showBackButton]="true">
</comp-header>

<ion-content class="ion-no-padding">
	<mat-tab-group [selectedIndex]="tabIndex"
				   (selectedIndexChange)="tabChanged($event)" mat-stretch-tabs>
		<mat-tab label="Überblick">
			<ueberblick [krankheitsId]="krankheitsId"
						[apothekenId]="apothekenId"
						[mitarbeitername]="mitarbeitername"
						[comeFrom]="comeFrom"
						[themeColor]="themeColor">
			</ueberblick>
		</mat-tab>

		<mat-tab label="Fragen">
			<ng-template mat-tab-label>
				<div matBadge="{{anzahlAuftraege}}" matBadgeOverlap="false">Zusammenfassung</div>
			</ng-template>
			<fragen [krankheitsId]="krankheitsId"
					[apothekenId]="apothekenId"
					[mitarbeitername]="mitarbeitername"
					[comeFrom]="comeFrom"
					[themeColor]="themeColor">
			</fragen>
		</mat-tab>

<!--		<mat-tab label="Tests">-->
<!--			<ng-template mat-tab-label>-->
<!--				  <div matBadge="{{anzahlAuftraege}}" matBadgeOverlap="false">Tests</div>-->
<!--			</ng-template>-->
<!--			<tests [krankheitsId]="krankheitsId"-->
<!--				   [apothekenId]="apothekenId"-->
<!--				   [mitarbeitername]="mitarbeitername"-->
<!--				   [comeFrom]="comeFrom">-->
<!--			</tests>-->
<!--		</mat-tab>-->
	</mat-tab-group>
</ion-content>
